.root {
  display: flex;
  color: var(--gray-dark);
  background-color: white;
  height: var(--baseline-8x);
}

/**
  Skeleton
**/

.left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.right {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.text,
.icon,
.trackType,
.numVideos,
.image,
.smallTitle {
  border-left: var(--border);
  border-bottom: var(--border);
}

/**
  Left
**/

.text {
  padding: var(--box-padding) var(--box-padding) var(--baseline-box);
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
}

.title {
  margin-top: var(--baseline-1of2);
  margin-bottom: var(--baseline-1of4);
  font-size: var(--maru-xlarge);
  line-height: var(--maru-xlarge-line-height);
}

.description {
  margin: var(--baseline-1of3) 0 0 0;
  line-height: var(--baseline-1of2);
  font-family: var(--maru-mono);
  font-size: var(--maru-normal);
}

.fadeText {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  left: 1px;
  right: 0;
  bottom: calc(var(--baseline) + 1px);
  height: var(--baseline-box);
}

/**
  Right
**/

.details {
  font-size: var(--maru-large);
  display: flex;
  line-height: var(--baseline-box);
}

.smallTitle {
  line-height: var(--baseline-box);
  display: none;
  padding: 0 var(--box-padding);
  text-transform: uppercase;
  font-size: var(--maru-large);
}

.icon {
  font-family: var(--maru-emoji);
  flex-basis: var(--baseline-box);
  line-height: 1em;
  font-size: var(--maru-emoji-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc(var(--baseline-box) / 15);
}

.trackType,
.numVideos {
  padding: 0 var(--spacing-normal);
}

.trackType {
  text-transform: uppercase;
  flex: 1;
}

.picture {
  overflow: hidden;
  flex: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tags */

.tags {
  line-height: var(--baseline-1of3);
  font-size: var(--maru-xsmall);

  & a {
    margin-right: var(--spacing-xsmall);
  }
}

.filterHeading,
.expand {
  border-bottom: var(--border);
  border-left: var(--border);
  height: var(--baseline);
  padding: 0 var(--box-padding);
  line-height: var(--baseline);
}

.expand {
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.filteredResults {
  display: flex;
  flex-wrap: wrap;
}

.filteredVideo {
  flex: 0 0 calc((100% - var(--baseline)) / 2);
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  border-left: var(--border);
  height: var(--baseline);
  padding: 0 var(--box-padding);
  background: var(--red-light);
  color: var(--gray-dark);
  font-size: var(--maru-normal);
  line-height: var(--maru-normal-line-height);
  & * + * {
    margin-left: var(--box-padding);
  }
}

.spacer {
  flex: 0 0 var(--baseline);
  border-bottom: var(--border);
  border-left: var(--border);
  height: var(--baseline);
  background: var(--red-light);
}

.spacer.growSpacer {
  flex-grow: 1;
}

.playIcon {
  fill: var(--red);
  height: var(--baseline-2of3);
}

/**
  Variants
**/

.red .text {
  border-bottom-color: var(--red);
}

@media (--reduced) {
  .root {
    flex-wrap: wrap;
    height: auto;
  }

  .left {
    flex-basis: 100%;
    height: var(--baseline-5x);
    order: 2;
  }

  .right {
    flex-basis: 100%;
    max-width: 100%;
    order: 1;
    display: block;
  }

  .smallTitle {
    display: block;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .trackType,
  .icon {
    display: none;
  }

  .title {
    display: none;
  }

  .slim .text {
    display: none;
  }

  .image {
    height: var(--baseline-6x);
  }

  .filteredVideo {
    flex: 0 0 100%;
  }

  .spacer {
    display: none;
  }
}

@media (--small) {
  .smallTitle {
    font-size: var(--maru-medium);
  }

  .numVideos {
    flex-basis: 100px;
    font-size: var(--maru-medium);
  }
}
