.root {
  font-family: var(--maru-mono);
}

.titleBox {
  margin-top: -2px;
  border-top: var(--border-purple);
  display: flex;
  flex-wrap: wrap;
  border-left: var(--border-purple);
  border-bottom: var(--border-purple);
  text-transform: uppercase;
  color: var(--purple);
  background-color: var(--purple-light);

  & * {
    padding: 0 var(--box-padding);
    line-height: var(--baseline);
    font-family: var(--maru-mono);
    font-size: var(--font-medium);
  }

  & h4 {
    font-weight: 600;
  }

  & p {
    margin: 0;
  }
}

.contributions {
  display: flex;
  flex-wrap: wrap;
}

.contrib {
  width: 23%;
  display: flex;
  flex-basis: 23%;
  flex-direction: column;
  font-family: var(--maru-mono);
  font-size: var(--font-medium);
}

@media (--reduced) {
  .contrib {
    width: 47%;
    flex: 0 0 47%;
    margin-left: 0;
  }
}

.spacer {
  flex-grow: 1;
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
}

@media (--reduced) {
  .spacer:nth-child(4n) {
    flex: 0 0 0;
    border: none;
  }
}

.contribsPanel p {
  color: var(--purple);
}

.contribsPanel button {
  flex-basis: 50%;
}

.title {
  color: var(--gray-mid);
  text-transform: uppercase;
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
  line-height: var(--baseline-box);
  padding: 0 calc(var(--box-padding) / 2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author {
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
  line-height: var(--baseline-box);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 calc(var(--box-padding) / 2);
}

.authorName {
  color: var(--purple);
}

.imagePlaceholder {
  height: var(--baseline-3x);
  background-color: var(--gray-light);
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
}

@media (--medium) {
  .imagePlaceholder {
    height: var(--baseline-2x);
  }
}

@media (--reduced) {
  .imagePlaceholder {
    height: var(--baseline-3x);
  }
}
