.root {
}

/*
  Since text can flow on multiple lines, the line-height needs to be `--baseline`,
  so we offset with a margin-top of -1px. See variables.css for explanation.
 */
.title {
  padding: 0 var(--box-padding);
  color: var(--red);
  margin-top: -1px;
  text-transform: uppercase;
  line-height: var(--baseline-2x);
  font-size: var(--font-xlarge);
  border-left: var(--border);
  border-bottom: var(--border);
}

.info {
  display: flex;
  color: var(--gray-mid);
  border-left: var(--border);
  border-bottom: var(--border-red);
  font-family: var(--maru-mono);
}

.showButton {
  color: var(--red);
  cursor: pointer;
}

.description {
  height: var(--baseline-box-5x);
  flex-basis: 70%;
  padding: 0 7% 0 var(--box-padding);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: var(--font-medium);
  margin: 0;

  & p {
    margin: var(--baseline-3of5) 0 calc(var(--baseline-2of5)-1px) 0;
    line-height: var(--baseline-1of2);
  }
}

.showMore {
  height: var(--baseline-box-8x);
}

.tagsContainer {
  height: var(--baseline-box-4x);
  margin-top: var(--baseline-3of5);
  margin-bottom: var(--baseline-2of5);
  flex-basis: 30%;
  padding: 0 var(--box-padding);

  font-size: var(--font-medium);
  line-height: var(--baseline-1of2);
}

@media (--medium) {
  .root .title {
    line-height: var(--baseline);
    letter-spacing: 0.05em;
  }

  .description {
    padding: 0 var(--box-padding);
  }
}

@media (--reduced) {
  .info {
    flex-wrap: wrap;
  }

  .description {
    flex-basis: 100%;
    height: var(--baseline-box-5x);
    padding: 0 var(--box-padding);
  }

  .description.showMore {
    height: var(--baseline-box-6x);
  }

  .tagsContainer {
    display: none;
  }
}

@media (--small) {
  .description {
    height: var(--baseline-box-6x);
  }
  .description.showMore {
    height: var(--baseline-box-8x);
  }
}

@media (--xsmall) {
  .description {
    height: var(--baseline-box-7x);
  }
  .description.showMore {
    height: var(--baseline-box-9x);
  }
}
