.root {
  display: flex;
  flex-direction: column;
}

.overviewTimeline {
  overflow-y: auto;
  border-left: var(--border-red);
  border-bottom: var(--border-red);
  height: var(--baseline-9x);
}

.navigation {
  display: flex;
  height: var(--baseline);
}

.navButton {
  flex: 1;
  border-left: var(--border-red);
  border-bottom: var(--border-red);
  font-size: var(--maru-medium);
  line-height: calc(var(--baseline));
  white-space: nowrap;
  text-align: center;
  color: var(--red);

  &:hover {
    background-color: var(--red);
    color: white;
  }
}

.chapterList {
  margin: 0;
  padding: 0;
}

.chapterListItem {
  /*
  CSS 'border' interferes with the track stop lines, so we use a box shadow that matches 'border-red-light'.
  */
  box-shadow: 0 -1px 0 rgba(255, 0, 0, 0.1);
}

.chapterTitle {
  position: relative;
  height: var(--baseline);
  padding-left: calc(var(--timeline-padding) + var(--timeline-heading-mark));
  cursor: pointer;
  line-height: var(--baseline-1of3);
  text-align: left;
  text-transform: uppercase;
  color: var(--red);

  & > * {
    font-size: var(--maru-medium);
    font-weight: 900;
  }

  &::before {
    content: " ";
    position: absolute;
    top: calc(var(--baseline-1of2) - 1px);
    left: 0;
    border: var(--border-red);
    background-color: var(--red);
    width: var(--timeline-heading-mark);
  }

  &.expanded.hasSeen::after {
    content: " ";
    position: absolute;
    top: var(--baseline-1of2);
    left: var(--timeline-spacing);
    border: var(--border-red);
    background-color: var(--red);
    height: calc(100% - var(--baseline-1of2));
  }
}

.videoItem {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--baseline);
  padding-left: calc(var(--timeline-padding) + var(--timeline-spacing));
  font-size: var(--maru-small);
  line-height: var(--baseline-1of3);

  &::before {
    content: none;
  }

  & a::before {
    content: " ";
    position: absolute;
    top: calc(50% - var(--timeline-dot) / 2);
    left: calc(var(--timeline-spacing) - var(--timeline-dot) / 2 + 1px);
    border: 1px solid var(--gray-mid);
    border-radius: 50%;
    width: var(--timeline-dot);
    height: var(--timeline-dot);
    background-color: white;
    cursor: pointer;
  }
}

.videoItem.seen,
.videoItem:hover {
  & a {
    color: var(--red);
  }
}

.seen {
  & a::before {
    border: var(--border-red);
    background-color: var(--red);
  }

  & a::after {
    content: " ";
    position: absolute;
    top: 0;
    left: var(--timeline-spacing);
    border: var(--border-red);
    background-color: var(--red);
    height: 100%;
  }
}

.last {
  & a::after {
    height: 50%;
  }
}

@media (--reduced) {
  .overviewTimeline {
    height: calc(100vh - var(--baseline-3x));
  }

  .chapterTitle > * {
    font-size: var(--maru-large);
  }

  .videoItem {
    font-size: var(--maru-medium);
  }
}
