.root {
}

.tagHeading,
.tag {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  margin-right: var(--spacing-small);
}

.tag {
  font-family: var(--maru-mono);
}

.singleLine {
  & .tagHeading {
    display: inline-block;
    text-align: center;
  }
}

.tags.singleLine {
  margin-top: 0;
}

@media (--reduced) {
  .tags {
    display: none;
  }
}
