/*
  Since text can flow on multiple lines, the line-height needs to be `--baseline`,
  so we offset with a margin-top of -1px. See variables.css for explanation.
 */

.root {
  border-left: var(--border);
  border-left-color: var(--gray-mid);
  border-bottom: var(--border);
  border-color: var(--purple);
  height: var(--baseline-7x);
  font-family: var(--maru-mono);
}

.titleBox {
  display: flex;
  border-bottom: var(--border);
  border-color: var(--purple);
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
  text-transform: uppercase;
  font-family: var(--maru-mono);
  font-size: var(--font-medium);
  color: var(--purple);
  background-color: var(--purple-light);

  & h4 {
    font-weight: 600;
  }

  & p {
    padding: 0 var(--box-padding);
    margin: 0;
    font-size: var(--font-medium);
  }
}

.contributions {
  display: flex;
  border-bottom: var(--border);
  border-color: var(--purple);
}

.contrib {
  display: flex;
  flex: 1 0 20%;
  flex-direction: column;
  border-right: var(--border);
  border-left: var(--border);
  border-color: var(--purple);
  margin-left: var(--box-padding);
  font-family: var(--maru-mono);
  font-size: var(--font-medium);

  & span {
    line-height: var(--baseline);
    padding: 0 var(--box-padding);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-right: var(--box-padding);
  }
}

.contrib:first-child {
  margin-left: 0;
  border-left: none;
}

.contrib:last-child {
  border-right: none;
}

.contribsPanel {
  border-left: none;

  & p {
    color: var(--purple);
  }
}

.title {
  color: var(--gray-mid);
  text-transform: uppercase;
}

.author {
  color: var(--purple);
}

.imagePlaceholder {
  height: var(--baseline-box-3x);
  background-color: var(--gray-light);
}
