.root {
}

/* Heading */

.subheading {
  margin-top: -1px;
  border-left: var(--border);
  border-bottom: var(--border-red);
  padding: 0 var(--box-padding);
  text-transform: uppercase;
  & h2 {
    color: var(--red);
    line-height: var(--baseline);
    font-size: 35px;
  }
}

/* Video section */

.videoPlayer {
  display: flex;
}

@media (--reduced) {
  .videoPlayer {
    flex-wrap: wrap;
  }
}

/* Left video section */

.left {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

@media (--reduced) {
  .left {
    flex-basis: 100%;
  }
}

.details {
  border-left: var(--border);
  border-bottom: var(--border-red);
  height: var(--baseline-2x);
  font-size: 30px;
  padding: 0 var(--box-padding);
  color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (--reduced) {
  .details {
    display: none;
  }
}

.tags {
  font-size: var(--font-normal);
  line-height: var(--baseline-1of2);
}

.video {
  border-left: var(--border);
  border-bottom: var(--border-red);
  height: var(--baseline-10x);
}

@media (--reduced) {
  .video {
    height: var(--baseline-8x);
  }
}

/* Right video section */

.right {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

@media (--reduced) {
  .right {
    flex-basis: 100%;
  }
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  border-left: var(--border-red);
  border-bottom: var(--border-red);

  & button {
    width: 100%;
    height: var(--baseline-box-2x);
    cursor: pointer;
    padding: 0 var(--spacing-normal);
    font-family: var(--maru-mono);
    font-size: var(--font-reduced);
    color: var(--red);
    background-color: white;
    text-align: left;
    text-transform: uppercase;
  }

  & button:hover {
    background-color: var(--red-light);
    font-weight: 600;
  }
}

@media (--reduced) {
  .tab button {
    height: var(--baseline-box);
    text-align: center;
  }
}

.selected button {
  background-color: var(--red-light);
  font-weight: 600;
}

/* Timeline section */

.timeline {
  color: var(--red);
  font-size: var(--font-small);
  font-family: var(--maru-mono);
}

.trackTimelineContainer {
  display: flex;
  flex-direction: column;
}

.trackTimeline {
  border-left: var(--border-red);
  border-bottom: var(--border-red);
  height: var(--baseline-9x);
  overflow-y: auto;
}

.trackNavigation {
  height: var(--baseline);
  display: flex;
}

.navButton {
  flex: 1;
  color: var(--gray-mid);
  line-height: calc(var(--baseline));
  font-size: var(--font-medium);
  white-space: nowrap;
  border-left: var(--border-red);
  border-bottom: var(--border-red);
  text-align: center;
  color: var(--red);
  &:hover {
    color: white;
    background-color: var(--red);
  }
}

.disabled {
  background-color: var(--gray-light);
  color: var(--gray-mid);
  cursor: initial;
  &:hover {
    background-color: var(--gray-light);
    color: var(--gray-mid);
  }
}

.chapterList {
  padding: 0;
  margin: 0;
  margin-top: var(--baseline-1of4);
}

.chapterTitle {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--red);
  line-height: var(--baseline-1of2);
  font-size: var(--font-small);
  padding-left: calc(var(--timeline-padding) + var(--timeline-heading-mark));
  text-align: left;
  position: relative;
  cursor: pointer;

  &::before {
    content: " ";
    position: absolute;
    width: var(--timeline-heading-mark);
    border: 1px solid var(--red);
    left: 0;
    top: calc(var(--baseline-1of4) - 1px);
  }

  &.notCollapsed.hasSeen::after {
    content: " ";
    position: absolute;
    height: calc(100% - var(--baseline-1of4));
    border: 1px solid var(--red);
    left: var(--timeline-spacing);
    top: var(--baseline-1of4);
  }
}

@media (--reduced) {
  .chapterTitle {
    font-size: var(--font-reduced);
    line-height: var(--baseline-2of3);
    &::before {
      top: calc(var(--baseline-1of3) - 1px);
    }
    &.notCollapsed.hasSeen::after {
      top: var(--baseline-1of3);
    }
  }
}

.videoItem {
  list-style: none;
  line-height: var(--baseline-1of2);
  font-size: var(--font-xsmall);
  padding-left: calc(var(--timeline-padding) + var(--timeline-spacing));
  position: relative;

  & a::before {
    content: " ";
    cursor: pointer;
    position: absolute;
    width: var(--timeline-dot);
    height: var(--timeline-dot);
    border-radius: 50%;
    border: 1px solid var(--gray-mid);
    background-color: white;
    left: calc(var(--timeline-spacing) - var(--timeline-dot) / 2 + 1px);
    top: calc(50% - var(--timeline-dot) / 2);
  }
}

@media (--reduced) {
  .videoItem {
    font-size: var(--font-normal);
    line-height: var(--baseline-2of3);
  }
}

.videoItem.seen,
.videoItem:hover {
  & a {
    color: var(--red);
    font-weight: bold;
  }
}

.seen {
  & a::before {
    border: 1px solid var(--red);
    background-color: var(--red);
  }

  & a::after {
    content: " ";
    position: absolute;
    height: 100%;
    border: 1px solid var(--red);
    left: var(--timeline-spacing);
    top: 0;
  }
}

.last {
  & a::after {
    height: 50%;
  }
}

/* Bottom of video section */

.sep {
  border-left: var(--border-red);
  border-bottom: var(--border-red);
  height: var(--baseline);
}

.about {
}

.description {
  display: flex;
  flex-direction: column;
  height: var(--baseline-3x);
  overflow-y: auto;
  border-left: var(--border-red);
  border-bottom: var(--border-red);
  font-size: var(--font-medium);
  font-family: var(--maru-mono);
  color: var(--gray-mid);
  & p {
    width: 70%;
    padding: 0 var(--box-padding);
    margin: var(--baseline-3of5) 0 var(--baseline-2of5) 0;
    line-height: var(--baseline-1of2);
  }
}

@media (--reduced) {
  .description p {
    width: 100%;
  }
}
