.pattern {
  border-left: var(--border);
  height: var(--baseline);
}

.preContributions {
  border-bottom: var(--border-purple);
}

.preChallenges {
  border-bottom: var(--border-cyan);
}

@media (--small) {
  .breadcrumbs {
    display: none;
  }
}
