.pattern {
  border-left: var(--border);
  border-bottom: var(--border);
  height: var(--baseline);
}

.sep {
  display: none;
}

.blankSep {
  height: var(--baseline);
  border-left: var(--border);
  border-bottom: var(--border-cyan);
  background: var(--background-color);
}

@media (--small) {
  .breadcrumbs {
    display: none;
  }

  .sep {
    display: block;
  }

  .simpleSep {
    height: var(--baseline);
    border-bottom: var(--border);
    border-left: var(--border);
  }

  .pattern {
    display: none;
  }

  .blankSep {
    display: none;
  }
}
