.challenges {
  display: flex;
  flex-wrap: wrap;
}

.horizontalSpacer {
  flex-grow: 1;
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}

.verticalSpacer {
  flex: 100%;
  height: var(--baseline);
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}
