.contributions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horizontalSpacer {
  flex-grow: 1;
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
}

.horizontalSpacerLast {
  width: 32%;
  height: var(--baseline-6x);
  display: flex;
  flex-basis: 32%;
  flex-direction: column;
  border-left: var(--border-purple);
  border-bottom: var(--border-purple);
}

.verticalSpacer {
  flex: 100%;
  height: var(--baseline);
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
}

@media (--medium) {
  .horizontalSpacer {
    flex: 100%;
    height: var(--baseline);
  }

  .horizontalSpacerLast {
    display: none;
  }
}
