.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  & svg {
    height: var(--baseline-3x);
  }
}

.heading {
  flex-grow: 1;
}

.scene {
  display: flex;
  align-items: flex-end;
  border-bottom: var(--border);
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: var(--maru-large);
  color: var(--gray-mid);
}

.description {
  flex-grow: 1;
  height: var(--baseline-3x);
  border-left: var(--border);
  border-bottom: var(--border);
  padding: var(--baseline-2of3) var(--spacing-normal) 0 var(--box-padding);

  & p {
    margin: 0;
    max-width: 700px;
    line-height: var(--baseline-1of2);
  }
}

.ctas {
  flex-grow: 1;
}

.cta {
  display: flex;
}

.buttonPanel {
  justify-content: center;
  width: 100%;
  height: var(--baseline);
  padding: 0 var(--spacing-small);
  overflow: hidden;
  & div,
  & a {
    width: 100%;
  }
}

@media (--medium) {
  .header,
  .content {
    flex-direction: column;
  }

  .header svg {
    height: var(--baseline-2x);
  }

  .scene {
    justify-content: center;
    border-left: var(--border);
  }

  .description {
    height: var(--baseline-4x);
  }
}
