.row {
  display: flex;
}
.mainHeading {
  flex-grow: 1;
  white-space: nowrap;
}

.sep {
  display: none;
  @media (--small) {
    display: block;
  }
}

.aboutRow {
  display: flex;
  color: var(--text-color);
  @media (--reduced) {
    flex-direction: column-reverse;
  }
}

.train {
  border-left: var(--border);
  border-bottom: var(--border);
  padding: var(--spacing-small) var(--spacing-normal);
  height: var(--baseline-3x);
}

@media (--medium) {
  .train {
    height: var(--baseline-2x);
  }
}

@media (--small) {
  .train {
    display: none;
  }
  .spacer {
    display: none;
  }
}

.trainIcon {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.aboutBlock {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  border-left: var(--border);
  border-bottom: var(--border);
}

.primaryAboutBlock {
  flex: 0 0 70%;
}

.coverAboutBlock {
  flex: 0 0 70%;
}

.aboutParagraph {
  flex-grow: 1;
  padding: var(--baseline-3of5) var(--spacing-normal) 0 var(--box-padding);
  overflow: hidden;
  font-family: var(--maru);
  color: var(--text-color);

  & p {
    margin: 0;
    max-width: 700px;
  }

  & p + p {
    margin-top: var(--baseline-1of2);
  }
}

.danIntro {
  height: var(--baseline-box-8x);
}

.coverDescription {
  height: var(--baseline-box-4x);
}

.secondaryParagraph {
  height: var(--baseline-box-4x);
}

@media (--small) {
  .danIntro {
    height: var(--baseline-box-11x);
  }

  .secondaryParagraph {
    height: var(--baseline-box-6x);
  }
}

.links {
  background-color: var(--purple-light);
  color: var(--text-color);
}

.socialRow {
  display: flex;
}

.socialTitleGroup {
  display: flex;
  align-items: center;
  flex: 0 0 25%;
  border-left: var(--border-purple);
  border-bottom: var(--border-purple);
  height: var(--baseline);
  padding: 0 var(--box-padding);
}

@media (--reduced) {
  .socialRow {
    flex-wrap: wrap;
  }
  .socialTitleGroup {
    flex: 1 0 100%;
  }
}

.socialLink {
  flex-grow: 1;
  border-bottom: var(--border-purple);
  padding: var(--spacing-small);
  height: var(--baseline);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  &:not(:first-child) {
    border-left: var(--border-purple);
  }
}

.socialIcon {
  margin-right: var(--spacing-normal);
  & path {
    fill: var(--purple);
  }
}

.photoBlock {
  border-left: var(--border);
  border-bottom: var(--border);
  flex-grow: 1;
  height: var(--baseline-8x);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.primaryPhoto {
  height: var(--baseline-8x);
}

@media (--reduced) {
  .primaryPhoto {
    height: var(--baseline-12x);
  }
}

.secondaryPhoto {
  height: var(--baseline-4x);
}

@media (--reduced) {
  .secondaryPhoto {
    height: var(--baseline-9x);
  }
}

.h4LikeTitle h2 {
  font-family: var(--maru);
}

.acknowledgementsText {
  display: flex;
  align-items: center;
  height: var(--baseline);
  padding-left: var(--box-padding);
  border-left: var(--border);
  border-bottom: var(--border-purple);
  color: var(--text-color);

  & p {
    max-width: 700px;
    line-height: var(--baseline-1of2);
    margin: 0;
  }
}

.acknowledgementsList {
  border-left: var(--border-purple);
  background-color: var(--purple-light);
  color: var(--text-color);
  border-bottom: var(--border-purple);
  display: flex;
  flex-wrap: wrap;
}

.acknowledgementsTeam {
  & h3 {
    border-bottom: var(--border-purple);
    height: var(--baseline);
    line-height: var(--baseline);
    padding-left: var(--spacing-normal);
  }

  & table {
    margin: 0;
    line-height: var(--baseline-2of3);
  }

  & td {
    padding: 0 var(--spacing-normal);
  }

  & a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.acknowledgementsTeam {
  flex-grow: 1;
}

@media (--small) {
  .acknowledgementsText {
    height: var(--baseline-2x);
  }
  .acknowledgementsList {
    flex-direction: column;
  }
  .acknowledgementsTeam h3 {
    border-top: var(--border-purple);
  }
}
