.filters {
  display: flex;
}

.filter {
  flex-basis: 50%;
}

@media (--medium) {
  .filters {
    flex-wrap: wrap;
  }

  .filter {
    flex-basis: 100%;
  }
}

@media (--small) {
  .breadcrumbs {
    display: none;
  }
}
