.box {
  border-left: var(--border);
  border-bottom: var(--border);
  line-height: var(--baseline-box);
}

.pattern {
  border-left: var(--border);
  border-bottom: var(--border);
  height: var(--baseline-box);
}
