.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  flex-grow: 1;
}

.sep {
  display: none;
}

.character {
  flex-grow: 1;
  height: var(--baseline-3x);
  display: flex;
  align-items: flex-end;
  border-left: var(--border);
  border-bottom: var(--border);

  & svg {
    width: 100%;
    height: 100%;
  }
}

.description {
  display: flex;
  height: var(--baseline-3x);
  border-left: var(--border);
  border-bottom: var(--border);
  padding: var(--baseline-3of5) var(--spacing-normal) 0 var(--box-padding);
  font-size: var(--font-reduced);
  color: var(--text-color);

  & p {
    flex-basis: 700px;
    margin: 0;
  }

  & a {
    color: var(--pink);
  }
}

.sections {
  background-color: var(--background-color);
}

.title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-reduced);
  font-family: var(--maru);
  font-weight: 600;
  color: var(--text-color);
  border-left: var(--border);
  border-bottom: var(--border);
  border-bottom-color: var(--pink);
  background-color: var(--pink-light);
  padding: 0 var(--box-padding);
  height: var(--baseline);
}

@media (--medium) {
  .character {
    height: var(--baseline-2x);
  }
}

@media (--small) {
  .character {
    display: none;
  }

  .description {
    height: var(--baseline-5x);
    border-bottom: none;

    & p {
      width: 100%;
    }
  }

  .sep {
    display: block;
  }

  .spacer {
    display: none;
  }
}
