.root {
  margin: 0;
}

.routesLink {
  margin: 0;
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
  border-bottom: var(--border);
  border-left: var(--border);
}

.header {
  position: relative;
  margin-top: 1px;
  height: var(--baseline-10x);
  background-color: var(--pink-tint);
  border-bottom: var(--border);
  border-left: var(--border);
  & p {
    margin: var(--baseline-2x) 0 0 0;
    max-width: 600px;
    padding: 0 var(--box-padding);
    color: var(--gray-mid);
  }
}

.train {
  position: absolute;
  bottom: 0;
  right: 0;
  height: var(--baseline-6x);
}

.heading {
  border: none !important;
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.subheading {
  flex-grow: 1;
}

.sep {
  display: none;
}

.character {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(--border);
  border-bottom: var(--border);
  & svg {
    height: var(--baseline-box-3x);
  }
}

.newToCoding {
  display: flex;

  & .left,
  & .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .left {
    border-left: var(--border);
    border-bottom: var(--border);
    & p {
      margin: 0;
      padding: 0 var(--box-padding);
      max-height: var(--baseline-2x);
      overflow: hidden;
      white-space: unset;
      text-overflow: ellipsis;
    }
  }
}

.baselineButtonPanel {
  height: var(--baseline);
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--baseline-3x);
  border-left: var(--border);
  border-bottom: var(--border);

  & p {
    margin: 0;
    padding: 0 var(--box-padding);
    max-width: 60%;
  }
}

.tracks {
  display: flex;
  flex-wrap: wrap;
}

.horizontalSpacer {
  width: var(--baseline);
  border-left: var(--border);
  border-bottom: var(--border);
}

.lastSpacer {
  flex: calc(50% + var(--baseline) / 2);
}

.verticalSpacer {
  display: block;
  flex: 100%;
}

.mobileSpacer {
  display: none;
}

.trackCard {
  flex: calc(50% - var(--baseline) / 2);
  display: flex;
  flex-direction: column;
}

.trackCard .details {
  font-size: var(--maru-large);
  display: flex;
  line-height: var(--baseline-box);
}

.trackCard .smallTitle {
  flex-grow: 1;
  line-height: var(--baseline-box);
  border-left: var(--border);
  border-bottom: var(--border);
  padding: 0 var(--box-padding);
  font-size: var(--maru-large);
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.trackCard .icon {
  font-family: var(--maru-emoji);
  flex-basis: var(--baseline-box);
  line-height: 1em;
  font-size: var(--maru-emoji-normal);
  border-left: var(--border);
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc(var(--baseline-box) / 15);
  color: var(--red);
}

.trackCard .numVideos {
  flex-shrink: 0;
  padding: 0 var(--spacing-normal);
  border-left: var(--border);
  border-bottom: var(--border);
}

.trackCard .picture {
  overflow: hidden;
  flex: 1;
}

.trackCard .image {
  width: 100%;
  height: var(--baseline-6x);
  object-fit: cover;
  border-left: var(--border);
  border-bottom: var(--border);
}

.trackCard .trackType {
  margin: 0;
  padding: 0 var(--box-padding);
  background-color: var(--red-light);
  color: var(--red);
  border-bottom: var(--border-red);
  border-left: var(--border-red);
  text-transform: uppercase;
  line-height: var(--baseline-box);
}

@media (--medium) {
  .character svg {
    height: var(--baseline-box-2x);
  }

  .train {
    height: var(--baseline-5x);
  }
}

@media (--reduced) {
  .header p {
    margin: var(--baseline) 0 0 0;
    max-width: none;
  }

  .train {
    height: var(--baseline-4x);
  }

  .newToCoding {
    flex-wrap: wrap;
  }

  .newToCoding .left,
  .newToCoding .right {
    flex: 100%;
  }

  .newToCoding .left {
    height: var(--baseline-2x);
    display: flex;
    align-items: center;
  }

  .descriptionBlock p {
    max-width: none;
  }

  .horizontalSpacer {
    display: none;
  }

  .mobileSpacer {
    display: block;
  }

  .trackCard {
    flex: 100%;
  }
}

@media (--small) {
  .character {
    display: none;
  }

  .baselineButtonPanel {
    height: initial;
    & > div > a {
      width: 100%;
    }
  }
}

@media (--xsmall) {
  .header {
    height: var(--baseline-12x);
  }
  .train {
    height: var(--baseline-3x);
  }
}
