@import-sanitize;

html,
body {
  padding: 0;
  scroll-padding-top: calc(3 * var(--baseline));
}

body {
  font-family: var(--maru);
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  border: none;
  background-color: inherit;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-family: var(--maru-mega);
  font-weight: normal;
}
