@import-sanitize;

html,
body {
  padding: 0;
  scroll-padding-top: calc(3 * var(--baseline));
}
html {
  background-color: var(--background-color);
}

body {
  font-family: var(--maru);
  font-size: var(--maru-medium);
  line-height: var(--maru-medium-line-height);
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  border: none;
  background-color: inherit;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-family: var(--maru-mega);
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}
