/*
  These classes help streamline the creation of layout boxes across the site.
  Boxes can be next to each other and nested under each other, and they will
  still only show a single, collapsed border to each other.
  .box cannot be nested under .box
*/

.box {
  border: var(--border);
  border-top: none;
  margin-right: -1px;
}

/* A few classes to help split the container */

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.col {
  flex: 1 0 33%;
}
