/* All boxes have top and bottom borders */
.box {
  border: var(--border);
  border-top: none;
  margin-bottom: -1px;
  margin-right: -1px;
}

.box .box {
  margin-left: -1px;
  /* margin-bottom: -1px;
  margin-right: -1px; */
}

/* A few classes to help split the container */

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.col {
  flex: 1 0 33%;
  /* flex-basis: calc(50% + 1px); */
}
