/*
  These classes help streamline the creation of layout boxes across the site.
  It basically
*/

.box {
  border-left: var(--border);
  border-bottom: var(--border);
  /* border: var(--border);
  border-top: none;
  border-right: none; */
  /* margin-right: -1px; */
}

/* A few classes to help split the container */

.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.col {
  flex: 1 0 33%;
}

@media (--small) {
  .col {
    flex-basis: 100%;
  }
}
