/* All boxes have top and bottom borders */
.box {
  border-top: 1px solid var(--gray-mid);
  border-bottom: 1px solid var(--gray-mid);
  margin-top: -1px;
  margin-bottom: -1px;
}

/* A box that comes after another box does not have border top */
.box + .box {
  border-top: none;
  margin-top: 0;
}
