@custom-media --xsmall (max-width: 400px);
@custom-media --small (max-width: 600px);
@custom-media --reduced (max-width: 900px);
@custom-media --medium (max-width: 1180px);
@custom-media --large (max-width: 1440px);
@custom-media --container (max-width: 1600px);

/* Some very custom breakpoints for specific things */
@custom-media --hide-clock (max-width: 1340px);
@custom-media --hide-date (max-width: 1265px);

:root {
  /* This is the real baseline from top to bottom */
  --baseline: 50px;
  --baseline-2x: calc(var(--baseline) * 2);
  --baseline-3x: calc(var(--baseline) * 3);
  --baseline-4x: calc(var(--baseline) * 4);
  --baseline-5x: calc(var(--baseline) * 5);
  --baseline-6x: calc(var(--baseline) * 6);
  --baseline-7x: calc(var(--baseline) * 7);
  --baseline-8x: calc(var(--baseline) * 8);
  --baseline-9x: calc(var(--baseline) * 9);
  --baseline-10x: calc(var(--baseline) * 10);
  --baseline-11x: calc(var(--baseline) * 11);
  --baseline-12x: calc(var(--baseline) * 12);

  --baseline-1of2: calc(var(--baseline) / 2);
  --baseline-1of3: calc(var(--baseline) / 3);
  --baseline-2of3: calc(var(--baseline) / 3 * 2);
  --baseline-1of4: calc(var(--baseline) / 4);
  --baseline-3of4: calc(var(--baseline) / 4 * 3);
  --baseline-1of5: calc(var(--baseline) / 5);
  --baseline-2of5: calc(var(--baseline) / 5 * 2);
  --baseline-3of5: calc(var(--baseline) / 5 * 3);

  /*
    This is the baseline that content inside boxes can rely on.
    Text that flows on multiple lines should use --baseline and
    offset with a margin-top: -1px.
  */
  --baseline-box-1of2: calc(var(--baseline) / 2 - 1px);
  --baseline-box: calc(var(--baseline) - 1px);
  --baseline-box-2x: calc(var(--baseline) * 2 - 1px);
  --baseline-box-3x: calc(var(--baseline) * 3 - 1px);
  --baseline-box-4x: calc(var(--baseline) * 4 - 1px);
  --baseline-box-5x: calc(var(--baseline) * 5 - 1px);
  --baseline-box-6x: calc(var(--baseline) * 6 - 1px);
  --baseline-box-7x: calc(var(--baseline) * 7 - 1px);
  --baseline-box-8x: calc(var(--baseline) * 8 - 1px);
  --baseline-box-9x: calc(var(--baseline) * 9 - 1px);
  --baseline-box-10x: calc(var(--baseline) * 10 - 1px);
  --baseline-box-11x: calc(var(--baseline) * 11 - 1px);

  --maru: "GT Maru", sans-serif;
  --maru-mega: "GT Maru Mega", sans-serif;
  --maru-mono: "GT Maru Mono", monospace;
  --maru-emoji: "GT Maru Emoji";

  --maru-mega-large: 140px;
  --maru-mega-large-line-height: var(--baseline-3x);
  --maru-mega-medium: 70px;
  --maru-mega-medium-line-height: var(--baseline-2x);
  --maru-mega-small: 49px;
  --maru-mega-small-line-height: var(--baseline);

  --maru-xxlarge: 28px;
  --maru-xxlarge-line-height: var(--baseline);
  --maru-xlarge: 22px;
  --maru-xlarge-line-height: var(--baseline-2of3);
  --maru-large: 16px;
  --maru-large-line-height: var(--baseline-1of2);
  --maru-medium: 15px;
  --maru-medium-line-height: var(--baseline-1of2);
  --maru-normal: 14px;
  --maru-normal-line-height: var(--baseline-1of2);
  --maru-small: 13px;
  --maru-small-line-height: var(--baseline-1of2);
  --maru-xsmall: 12px;
  --maru-xsmall-line-height: var(--baseline-1of2);

  --maru-emoji-normal: 18px;

  --spacing-xsmall: 5px;
  --spacing-small: 10px;
  --spacing-normal: 15px;
  --spacing-large: 60px;
  --spacing-xlarge: 100px;

  --text-color: #000000;
  --background-color: #ffffff;
  --linear-gradient-on-card: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );

  --gray-dark: #3c3c3c;
  --gray-mid: #666666;
  --gray-light: #ededed;
  --gray-light-hover: #cfcfcf;

  --cyan: #2dc5f4;
  --cyan-light: #eefbff;
  --pink: #f063a4;
  --pink-light: #ffebf4;
  --pink-tint: #fff7fa;
  --orange: #f89e4f;
  --orange-light: #fff1e5;
  --purple: #9253a1;
  --purple-light: #f0e1f3;
  --red: #f16164;
  --red-light: #fff3f3;
  --red-lightest: #fffcfc;

  --border: 1px solid var(--gray-mid);

  --border-purple: 1px solid var(--purple);
  --border-red: 1px solid var(--red);
  --border-red-light: 1px solid rgba(255, 0, 0, 0.1);
  --border-orange: 1px solid var(--orange);
  --border-cyan: 1px solid var(--cyan);
  --border-cyan-light: 1px solid rgba(0, 128, 128, 0.1);
  --border-pink: 1px solid var(--pink);

  --box-padding: 25px;

  --container-max-width: 1600px;
  --container-spacing-horizontal: 50px;

  --timeline-heading-mark: 60px;
  --timeline-padding: 20px;
  --timeline-spacing: 20px;
  --timeline-dot: 15px;
}

@media (--medium) {
  :root {
    --maru-mega-large: 100px;
    --maru-mega-large-line-height: var(--baseline-2x);
    --maru-mega-medium: 60px;
    --maru-mega-medium-line-height: var(--baseline);
    --maru-mega-small: 35px;
    --maru-mega-small-line-height: var(--baseline);

    --maru-xxlarge: 28px;
    --maru-xxlarge-line-height: var(--baseline);
    --maru-xlarge: 22px;
    --maru-xlarge-line-height: var(--baseline-2of3);
    --maru-large: 15px;
    --maru-large-line-height: var(--baseline-1of2);
    --maru-medium: 14px;
    --maru-medium-line-height: var(--baseline-1of2);
    --maru-normal: 13px;
    --maru-normal-line-height: var(--baseline-1of2);
    --maru-small: 12px;
    --maru-small-line-height: var(--baseline-1of2);
    --maru-xsmall: 12px;
    --maru-xsmall-line-height: var(--baseline-1of2);

    --maru-emoji-normal: 17px;

    --box-padding: 13px;
    --container-spacing-horizontal: 30px;

    --timeline-heading-mark: 30px;
    --timeline-padding: 15px;
    --timeline-spacing: 10px;
    --timeline-dot: 12px;
  }
}

@media (--reduced) {
  :root {
    --maru-mega-large: 70px;
    --maru-mega-large-line-height: var(--baseline-2x);
    --maru-mega-medium: 70px;
    --maru-mega-medium-line-height: var(--baseline-2x);
    --maru-mega-small: 49px;
    --maru-mega-small-line-height: var(--baseline);

    --container-spacing-horizontal: 20px;

    --timeline-heading-mark: 70px;
    --timeline-padding: 25px;
    --timeline-spacing: 40px;
    --timeline-dot: 15px;
  }
}

@media (--small) {
  :root {
    --baseline: 40px;
    --container-spacing-horizontal: 5px;

    --maru-xxlarge: 24px;
    --maru-xxlarge-line-height: var(--baseline-1of2);
    --maru-xlarge: 20px;
    --maru-xlarge-line-height: var(--baseline-2of3);
    --maru-large: 14px;
    --maru-large-line-height: var(--baseline-1of2);
    --maru-medium: 13px;
    --maru-medium-line-height: var(--baseline-1of2);
    --maru-normal: 12px;
    --maru-normal-line-height: var(--baseline-1of2);
    --maru-small: 12px;
    --maru-small-line-height: var(--baseline-1of2);
    --maru-xsmall: 12px;
    --maru-xsmall-line-height: var(--baseline-1of2);

    --maru-emoji-normal: 16px;

    --box-padding: 10px;
    --container-spacing-horizontal: 0px;

    --timeline-heading-mark: 30px;
    --timeline-padding: 15px;
    --timeline-spacing: 10px;
    --timeline-dot: 12px;
  }
}

/* Dark theme */
html.dark {
  --text-color: #f0f0f0;
  --background-color: #1e1d20;
  --linear-gradient-on-card: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.842) 30%,
    rgba(255, 255, 255, 0) 100%
  );

  --gray-dark: #1f1f1f;
  --gray-mid: #b3b3b3;
  --gray-light: #2d2d2d;
  --gray-light-hover: #404040;

  --cyan: #00b2d6;
  --cyan-light: #003f4d;

  --pink: #e6005c;
  --pink-light: #3a0018;
  --pink-tint: #2a001a;

  --orange: #d97f26;
  --orange-light: #3a2410;

  --purple: #7c3b82;
  --purple-light: #2c0e2f;

  --red: #d1414c;
  --red-light: #3f1519;
  --red-lightest: #1e1d20;
}
