.root {
  margin: 0;
}

.routesLink {
  margin: 0;
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
  border-bottom: var(--border);
  border-left: var(--border);
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

.subheading {
  flex-grow: 1;
}

.sep {
  display: none;
}

.character {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(--border);
  border-bottom: var(--border);
  & svg {
    height: var(--baseline-box-3x);
  }
}

.newToCoding {
  display: flex;

  & .left,
  & .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    color: var(--text-color);
  }

  & .left {
    border-left: var(--border);
    border-bottom: var(--border);
    & p {
      margin: 0;
      padding: 0 var(--box-padding);
      max-height: var(--baseline-box-2x);
      overflow: hidden;
      white-space: unset;
      text-overflow: ellipsis;
    }
  }
}

.baselineButtonPanel {
  overflow: hidden;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--baseline-3x);
  border-left: var(--border);
  border-bottom: var(--border);

  & p {
    margin: 0;
    padding: 0 var(--box-padding);
    max-width: 60%;
    color: var(--text-color);
  }
}

.tracks,
.challenges {
  display: flex;
  flex-wrap: wrap;
}

.horizontalSpacer {
  width: var(--baseline);
  border-left: var(--border);
  border-bottom: var(--border);
}

.lastSpacer {
  flex: calc(50% + var(--baseline) / 2);
}

.verticalSpacer {
  display: block;
  flex: 100%;
}

.mobileSpacer {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
}

.trackCard {
  width: calc(50% - var(--baseline) / 2);
}

.challengeCard {
  width: calc((100% - 2 * var(--baseline)) / 3);
}

.card .details {
  font-size: var(--maru-large);
  display: flex;
  line-height: var(--baseline-box);
  color: var(--text-color);
}

.card .smallTitle {
  flex-grow: 1;
  min-height: var(--baseline);
  line-height: var(--baseline-box);
  border-left: var(--border);
  border-bottom: var(--border);
  padding: 0 var(--box-padding);
  font-size: var(--maru-large);
  font-family: var(--maru-mono);
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card .icon {
  font-family: var(--maru-emoji);
  flex-basis: var(--baseline-box);
  flex-shrink: 0;
  line-height: 1em;
  font-size: var(--maru-emoji-normal);
  border-left: var(--border);
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc(var(--baseline-box) / 15);
}

.trackCard .icon {
  color: var(--red);
}

.challengeCard .icon {
  color: var(--cyan);
}

.trackCard .numVideos {
  flex-shrink: 0;
  padding: 0 var(--spacing-normal);
  border-left: var(--border);
  border-bottom: var(--border);
}

.card .picture {
  overflow: hidden;
  flex: 1;
}

.card .noImage {
  height: var(--baseline-4x);
  border-left: var(--border);
  border-bottom: var(--border);
  background-color: var(--gray-light);
}

.card .image {
  width: 100%;
  object-fit: cover;
  border-left: var(--border);
  border-bottom: var(--border);
}

.trackCard .image {
  height: var(--baseline-6x);
}

.challengeCard .image {
  height: var(--baseline-4x);
}

.card .date {
  margin: 0;
  padding: 0 var(--box-padding);
  text-transform: uppercase;
  line-height: var(--baseline-box);
  height: var(--baseline);
}

.trackCard .date {
  background-color: var(--red-light);
  color: var(--text-color);
  border-bottom: var(--border-red);
  border-left: var(--border-red);
}

.challengeCard .date {
  background-color: var(--cyan-light);
  color: var(--text-color);
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}

.showcaseBanner {
  margin: 0;
  padding: 0 var(--box-padding);
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
  line-height: var(--baseline-box);
  font-size: var(--maru-large);
  color: var(--gray-dark);
  background-color: var(--purple-light);
  text-transform: uppercase;
}

.showcase {
  display: flex;
}

.showcase .left {
  flex: 60%;
}

.showcase .right {
  flex: 40%;
  display: flex;
  align-items: stretch;
}

.showcase .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--baseline-3x);
  border-left: var(--border);
  border-bottom: var(--border-purple);
  background-color: var(--background-color);
  color: var(--text-color);

  & p,
  & address {
    margin: 0;
    padding: 0 var(--box-padding);
  }

  & .videoTitle {
    text-transform: uppercase;
    font-size: var(--maru-normal);
  }

  & .showcaseTitle {
    font-family: var(--maru-mono);
    font-size: var(--maru-xlarge);
    line-height: var(--maru-xlarge-line-height);
    font-weight: bold;
  }
}

.showcase .author {
  font-family: var(--maru-mono);
  font-style: normal;
  color: var(--text-color);
  padding: 0 var(--box-padding);
  margin: 0;
  line-height: var(--baseline-box);
  height: var(--baseline);
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);

  & .authorName {
    display: inline;
    color: var(--purple);

    & a {
      text-decoration: underline;
    }
  }
}

.showcase .right .picture {
  overflow: hidden;
  flex: 1;
}

.showcase .right {
  & .image,
  & .noImage {
    object-fit: cover;
    border-left: var(--border);
    border-bottom: var(--border);
    width: 100%;
    height: var(--baseline-4x);
    background-color: var(--gray-light);
  }
}

.showcase a {
  position: relative;
}

.showcase .playButton {
  position: absolute;
  bottom: calc(var(--box-padding) / 4);
  right: calc(var(--box-padding) / 4);
}

.eventsBanner {
  margin: 0;
  padding: 0 var(--box-padding);
  border-bottom: var(--border-pink);
  border-left: var(--border-pink);
  line-height: var(--baseline-box);
  font-size: var(--maru-large);
  color: var(--text-color);
  background-color: var(--pink-tint);
  text-transform: uppercase;
}

.event {
  display: flex;
  color: var(--text-color);
  & p {
    margin: 0;
  }

  & .left,
  & .center {
    flex: 30%;
  }

  & .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--border);
    border-left: var(--border);
    height: var(--baseline-3x);
    & h3 {
      font-family: var(--maru-mono);
      padding: 0 var(--box-padding);
      font-size: var(--maru-xlarge);
      font-weight: bold;
      line-height: var(--maru-xlarge-line-height);
    }
  }

  & .center p {
    padding: 0 var(--box-padding);
    border-bottom: var(--border);
    border-left: var(--border);
    line-height: var(--baseline);
    height: var(--baseline);
    text-transform: uppercase;
    & span + span,
    & span + time {
      margin-left: var(--box-padding);
    }
  }

  & .right {
    flex: 40%;
    & div {
      border-bottom: var(--border);
      border-left: var(--border);
    }
    & .eventDescription {
      display: flex;
      align-items: center;
      height: var(--baseline-2x);
      overflow: hidden;
      & p {
        margin: 0;
        padding: 0 var(--box-padding);
      }
    }

    & .eventButton {
      height: var(--baseline);
      padding: var(--spacing-xsmall);
    }

    & a {
      width: 100%;
    }
  }
}

.icon {
  font-family: var(--maru-emoji);
}

.support {
  display: flex;
}

.support .left {
  flex: 55%;
  display: flex;
  flex-direction: column;
  & .subheading h2 {
    overflow: initial;
  }
}

.support .right {
  flex: 45%;
}

.support .descriptionBlock {
  flex-grow: 1;
  & p {
    max-width: 100%;
  }
}

@media (--large) {
  .train {
    height: var(--baseline-5x);
    width: 600px;
  }
}

@media (--medium) {
  .character svg {
    height: var(--baseline-box-2x);
  }

  .newToCoding {
    flex-wrap: wrap;
  }

  .newToCoding .left,
  .newToCoding .right {
    flex: 100%;
  }

  .newToCoding .left {
    display: flex;
    height: var(--baseline-3x);
  }
}

@media (--reduced) {
  .descriptionBlock p {
    max-width: none;
  }

  .horizontalSpacer {
    display: none;
  }

  .mobileSpacer {
    display: block;
  }

  .trackCard,
  .challengeCard {
    flex: 100%;
  }

  .challengeCard .image {
    height: var(--baseline-6x);
  }

  .showcase {
    flex-direction: column-reverse;
  }

  .showcase .right {
    & .image,
    & .noImage {
      height: var(--baseline-6x);
    }
  }
  .event {
    flex-wrap: wrap;
    & .left,
    & .center {
      flex: 50%;
    }
  }

  .support {
    flex-direction: column;
  }

  .support .descriptionBlock {
    height: var(--baseline-3x);
  }
}

@media (--small) {
  .character {
    display: none;
  }

  .baselineButtonPanel {
    height: initial;
    & > p {
      border-top: var(--border);
    }
    & > div > a {
      width: 100%;
    }
  }

  .event {
    flex-wrap: wrap;
    & .left,
    & .center {
      flex: 100%;
    }
  }
}
