.root {
  border-left: var(--border);
  border-bottom: var(--border);
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--box-padding);
  font-family: var(--maru-mono);
  font-size: var(--maru-medium);
  line-height: var(--baseline-box);
}

.arrow {
  padding: 0 var(--spacing-small);
}

.crumb {
  & a {
    text-decoration: none;
  }
}

/* Variants */

.red {
  color: var(--red);
  & a {
    color: var(--red);
  }
}

.purple {
  color: var(--purple);
  & a {
    color: var(--purple);
  }
}

.cyan {
  color: var(--cyan);
  & a {
    color: var(--cyan);
  }
}

.orange {
  color: var(--orange);
  & a {
    color: var(--orange);
  }
}
