.root {
  display: flex;
  flex-wrap: wrap;
  padding: var(--box-padding);
  font-family: var(--maru-mono);
  color: var(--red);
  font-size: var(--font-medium);
  line-height: var(--baseline);
}

.arrow {
  padding: 0 var(--spacing-small);
}
