.root {
  color: var(--gray-dark);
  border-radius: 40px;
  line-height: calc(var(--baseline) - var(--spacing-small));
  padding: 0 var(--box-padding);
  text-transform: uppercase;
  text-align: center;
  font-family: var(--maru-mono);
  font-size: var(--maru-medium);
  font-weight: normal;
  white-space: nowrap;
  border: none;
  transition: background-color 0.2s;
}

a.root {
  display: inline-block;
  text-decoration: none;
  color: var(--gray-dark);
}

a.root:hover {
  opacity: 1;
}

/* Variants */

a.red,
button.red {
  color: white;
  background-color: var(--red);
}

a.orange,
button.orange {
  color: white;
  background: var(--orange);
}

a.purple,
button.purple {
  color: white;
  background: var(--purple);
}

a.cyan,
button.cyan {
  color: white;
  background-color: var(--cyan);
}

a.pink,
button.pink {
  color: white;
  background-color: var(--pink);
}

/* Rainbow */

a.rainbow.red,
button.rainbow.red {
  background: linear-gradient(
    to right,
    var(--red),
    var(--pink),
    var(--purple),
    var(--cyan),
    var(--orange),
    var(--red)
  );
  background-size: 20000% 100%;
  background-position: right bottom;
  transition: background-position 1s ease-out;
}

a.rainbow.orange,
button.rainbow.orange {
  background: linear-gradient(
    to right,
    var(--orange),
    var(--red),
    var(--pink),
    var(--purple),
    var(--cyan),
    var(--orange)
  );
  background-size: 20000% 100%;
  background-position: right bottom;
  transition: background-position 1s ease-out;
}

a.rainbow.purple,
button.rainbow.purple {
  background: linear-gradient(
    to right,
    var(--purple),
    var(--cyan),
    var(--orange),
    var(--red),
    var(--pink),
    var(--purple)
  );
  background-size: 20000% 100%;
  background-position: right bottom;
  transition: background-position 1s ease-out;
}

a.rainbow.pink,
button.rainbow.pink {
  background: linear-gradient(
    to right,
    var(--pink),
    var(--purple),
    var(--cyan),
    var(--orange),
    var(--red),
    var(--pink)
  );
  background-size: 20000% 100%;
  background-position: right bottom;
  transition: background-position 1s ease-out;
}

a.rainbow.cyan,
button.rainbow.cyan {
  background: linear-gradient(
    to right,
    var(--cyan),
    var(--orange),
    var(--red),
    var(--pink),
    var(--purple),
    var(--cyan)
  );
  background-size: 20000% 100%;
  background-position: right bottom;
  transition: background-position 1s ease-out;
}

.rainbow.red:hover:not([disabled]),
.rainbow.orange:hover:not([disabled]),
.rainbow.purple:hover:not([disabled]),
.rainbow.pink:hover:not([disabled]),
.rainbow.cyan:hover:not([disabled]) {
  background-position: left bottom;
  transition: background-position 4s ease-out;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
