.root {
  font-size: var(--font-medium);
  border-left: var(--border);
  border-bottom: var(--border);
  display: flex;
  line-height: var(--baseline-box);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-xsmall) 0 var(--box-padding);
  overflow: hidden;

  & p {
    color: var(--gray-mid);
    margin: 0 var(--spacing-normal) 0 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
