.root {
  color: var(--gray-dark);
  border-radius: 40px;
  line-height: calc(var(--baseline)- var(--spacing-small));
  padding: 0 var(--box-padding);
  text-transform: uppercase;
  font-size: var(--font-medium);
  white-space: nowrap;
  border: none;
}

a {
  text-decoration: none;
  color: var(--gray-dark);
}

.root:hover {
  transition: background-color 0.2s;
}

/* Variants */

.red {
  color: white;
  background-color: var(--red);
}

.orange {
  color: white;
  background-color: var(--orange);
}

.purple {
  color: white;
  background-color: var(--purple);
}
