.root {
  border-left: var(--border);
  border-bottom: var(--border);
  display: flex;
  line-height: var(--baseline-box);
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-small) 0 var(--box-padding);

  & p {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
