.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: var(--border);
  border-bottom: var(--border);
  height: var(--baseline);
  padding: 0 var(--spacing-xsmall) 0 var(--box-padding);
  font-size: var(--maru-medium);
  line-height: var(--baseline-box);

  & p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 var(--spacing-normal) 0 0;
    text-transform: uppercase;
    /* color: var(--gray-dark); */
    color: var(--text-color);
  }
}

/* Variants */

.red {
  background-color: var(--red-light);
  border-color: var(--red);
}

.purple {
  background-color: var(--purple-light);
  border-color: var(--purple);
}

.orange {
  background-color: var(--orange-light);
  border-color: var(--orange);
}

.pink {
  background-color: var(--pink-light);
  border-color: var(--pink);
}

.cyan {
  background-color: var(--cyan-light);
  border-color: var(--cyan);
}

@media (--small) {
  .smallWrap {
    display: block;
    height: var(--baseline-3x-box);
    padding: 0;

    & .buttonContainer {
      padding: 0 var(--spacing-xsmall) 0 var(--box-padding);
    }

    & button {
      width: 100%;
    }

    & p {
      white-space: initial;
      overflow: initial;
      text-overflow: initial;

      display: flex;
      align-items: center;
      margin-top: -2px;
      height: calc(var(--baseline-2x) + 2px);
      border-bottom: 1px solid;
      padding: 0 var(--spacing-xsmall) 0 var(--box-padding);

      line-height: var(--baseline-1of3);
      width: 100%;
    }
  }
}
