.root {
  font-family: var(--maru-mono);
}

.titleBox {
  margin-top: -2px;
  border-top: var(--border-cyan);
  display: flex;
  flex-wrap: wrap;
  border-left: var(--border-cyan);
  border-bottom: var(--border-cyan);
  color: var(--gray-dark);
  text-transform: uppercase;
  background-color: var(--cyan-light);

  & * {
    padding: 0 var(--box-padding);
    line-height: var(--baseline);
    font-family: var(--maru-mono);
    font-size: var(--maru-medium);
  }

  & h2,
  & h3 {
    font-weight: 600;
  }

  & p {
    margin: 0;
  }
}

.challenges {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  flex-grow: 1;
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}

@media (--reduced) {
  .spacer {
    height: var(--baseline);
  }
}

.challenge {
  width: 47%;
  display: flex;
  flex-basis: 47%;
  flex-direction: column;
  font-family: var(--maru-mono);
  font-size: var(--maru-medium);

  & p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: var(--gray-dark);
  }
}

.icon {
  font-family: var(--maru-emoji);
  flex-basis: var(--baseline-box);
  color: var(--cyan);
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
  line-height: 1em;
  font-size: var(--maru-emoji-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--box-padding) / 2);
  padding-bottom: calc(var(--baseline-box) / 15);
}

.titleContainer {
  display: flex;
}

.title {
  flex-grow: 1;
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
  line-height: var(--baseline-box);
  min-height: var(--baseline);
  padding: 0 calc(var(--box-padding) / 2);
  border-bottom: var(--border);
  border-color: var(--cyan);
  color: var(--gray-dark);
  font-weight: normal;
  font-size: var(--maru-normal);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.thumb {
  display: flex;
}

.right {
  flex: 2 2 60%;
}

.description {
  height: var(--baseline-4x);
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: auto;

  & p {
    padding: calc(var(--box-padding) / 2) var(--box-padding);
  }
}

.date {
  color: var(--gray-dark);
  background-color: var(--cyan-light);
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
  height: var(--baseline);
  padding: 0 calc(var(--box-padding) / 2);

  & span {
    color: var(--cyan);
    border-bottom: none;
    text-transform: uppercase;
  }

  & svg {
    fill: var(--cyan);
  }
}

.right .date {
  display: none;
}

.left {
  flex: 1 1 40%;
  height: var(--baseline-3x);
  background-color: var(--gray-light);
}

.picture {
  height: var(--baseline-4x);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}

@media (--medium) {
  .left {
    width: 100%;
    height: var(--baseline-5x);
    flex: none;
  }

  .left .date {
    display: none;
  }

  .right .date {
    display: flex;
  }

  .thumb {
    flex-direction: column;
  }
}

@media (--reduced) {
  .challenge {
    width: 100%;
    flex-basis: 100%;
  }

  .left {
    height: var(--baseline-7x);
  }
}

@media (--small) {
  .icon {
    display: none;
  }
  .titleBox p {
    display: none;
  }
}

@media (--xsmall) {
  .left {
    height: var(--baseline-5x);
  }
}
