.root {
  overflow-y: auto;
  margin: 0;
}

.showMore {
}

.showButton {
  cursor: pointer;
  font-size: var(--maru-small);
  color: var(--mid-gray);
  text-decoration: underline;
}

/* Variant */

.red .showButton {
  color: var(--red);
}

.cyan .showButton {
  color: var(--cyan);
}
