.root {
  margin: 0;
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
  margin-top: -2px;
  padding-left: var(--spacing-normal);
  border-left: var(--border);
  color: var(--gray-dark);

  &:first-child {
    border-top: var(--border);
  }

  &:last-child {
    border-bottom: var(--border);
  }
}

.description {
  height: var(--baseline-3of4);
  padding: 0 var(--spacing-normal);
  line-height: var(--baseline-3of4);
}

.bold {
  font-weight: bold;
}

.description {
  font-size: var(--maru-normal);
  display: flex;
  align-items: center;
  & p {
    margin: 0;
    line-height: var(--baseline-1of3);
  }
  & a {
    text-decoration: underline;
  }
}

/* Variants */

.red {
  & .link {
    border-color: var(--red);
    background-color: var(--red-light);
  }
}

.cyan {
  & .link {
    border-color: var(--cyan);
    background-color: var(--cyan-light);
  }
}

@media (--reduced) {
  .link {
    flex-wrap: wrap;
  }

  .url {
    white-space: initial;
    text-overflow: initial;
  }

  .description {
    width: 100%;
  }

  .red .link,
  .cyan .link {
    background-color: white;
  }
}

@media (--small) {
  .icon {
    display: none;
  }
  .description {
    height: var(--baseline-2x);
    font-size: var(--maru-medium);
  }
}
