.root {
  color: var(--gray-dark);
  display: flex;
}

.left {
  flex: 0 0 var(--baseline-box);
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
}

.icon,
.spacer,
.title,
.item,
.seeMore {
  border-left: var(--border);
  border-bottom: var(--border);
}

.icon {
  line-height: var(--baseline-box);
  display: flex;
  justify-content: center;
  font-size: var(--maru-emoji-normal);
}

.spacer {
  flex: 1;
}

.title {
  line-height: var(--baseline-box);
  padding-left: var(--box-padding);

  & h2 {
    margin: 0;
    font-size: var(--maru-large);
    font-family: var(--maru);
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - var(--baseline));
}

.itemSpacer {
  flex: 1 0 0;
  margin-top: -1px;
  border-left: var(--border);
  border-bottom: var(--border);
}

.items {
  display: flex;
  flex-wrap: wrap;
  height: var(--baseline);
  overflow: hidden;
}

.items.expanded {
  height: auto;
}

.item {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 0;

  & button {
    width: 100%;
    cursor: pointer;
    padding: 0 var(--spacing-xsmall);
    line-height: var(--baseline-box);
    font-family: var(--maru-mono);

    font-size: var(--maru-normal);
    color: var(--gray-dark);

    white-space: nowrap;
  }
}

.item.selected button {
  color: white;
  background-color: var(--gray-mid);
}

.seeMore {
  cursor: pointer;
  font-family: var(--maru-mono);
  color: var(--gray-dark);
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
  font-size: var(--maru-small);
}

/* Variants */
.red {
  &.root {
  }

  & .icon {
    color: var(--red);
  }

  & .seeMore {
    color: var(--red-text);
    background-color: var(--red-light);
  }

  & .item.selected button {
    color: white;
    background-color: var(--red);
  }

  & .item button {
    color: var(--red-text);
    background-color: var(--red-light);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore,
  & .itemSpacer {
    border-color: var(--red);
  }
}

.cyan {
  &.root {
  }

  & .icon {
    color: var(--cyan);
  }

  & .seeMore {
    color: var(--cyan-text);
    background-color: var(--cyan-light);
  }

  & .item.selected button {
    color: white;
    background-color: var(--cyan);
  }

  & .item button {
    color: var(--cyan-text);
    background-color: var(--cyan-light);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore,
  & .itemSpacer {
    border-color: var(--cyan);
  }
}
