.root {
  color: var(--gray-mid);
  display: flex;
}

.left {
  flex: 0 0 var(--baseline-box);
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
}

.icon,
.spacer,
.title,
.item,
.seeMore {
  border-left: var(--border);
  border-bottom: var(--border);
}

.icon {
  line-height: var(--baseline-box);
  display: flex;
  justify-content: center;
  font-size: var(--font-emoji);
}

.spacer {
  flex: 1;
}

.title {
  line-height: var(--baseline-box);
  padding-left: var(--box-padding);

  & h3 {
    margin: 0;
    font-size: var(--font-reduced);
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  height: var(--baseline);
  overflow: hidden;
}

.items.expanded {
  height: auto;
}

.item {
  flex-basis: 25%;
  flex-grow: 1;
  flex-shrink: 0;

  & button {
    width: 100%;
    cursor: pointer;
    padding: 0 var(--spacing-xsmall);
    line-height: var(--baseline-box);
    font-family: var(--maru-mono);
    font-size: var(--font-normal);
    color: var(--gray-mid);
    white-space: nowrap;
  }
}

.item.selected button {
  color: white;
  background-color: var(--gray-mid);
}

.seeMore {
  cursor: pointer;
  font-family: var(--maru-mono);
  color: var(--gray-mid);
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
  font-size: var(--font-small);
}

/* Variants */
.red {
  &.root {
    color: var(--red);
    background-color: var(--red-light);
  }

  & .seeMore {
    color: var(--red);
  }

  & .item.selected button {
    color: white;
    background-color: var(--red);
  }

  & .item button {
    color: var(--red);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore {
    border-color: var(--red);
  }
}

.cyan {
  &.root {
    color: var(--cyan);
    background-color: var(--cyan-light);
  }

  & .seeMore {
    color: var(--cyan);
  }

  & .item.selected button {
    color: white;
    background-color: var(--cyan);
  }

  & .item button {
    color: var(--cyan);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore {
    border-color: var(--cyan);
  }
}
