.root {
  background-color: var(--gray-light);
  color: var(--text-color);
  flex-wrap: wrap;

  & a {
    padding-left: 0;
    text-decoration: none;
    color: var(--text-color);
  }
}

.box.trainBox {
  flex: 1 0 20%;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1 0 30%;
  border-left: var(--border);
  border-bottom: var(--border);
  line-height: var(--baseline-box);

  & h3 {
    font-weight: 900;
    font-size: var(--maru-medium);
    text-transform: uppercase;
    margin: 0;
    border-bottom: var(--border);

    & a {
      padding-left: var(--box-padding);
      display: block;
    }
  }

  & p {
    font-family: var(--maru-mono);
    font-size: var(--maru-normal);
    line-height: 24px;
    padding: var(--box-padding);
    min-height: var(--baseline-box-2x);
    margin: 0;
  }
}

.box.bottomBox {
  flex: 0 0 25%;
  & h3 {
    border-bottom: none;
    padding-top: var(--spacing-small);
  }
  & p {
    padding-top: 0;
  }
}

.action {
  & p a {
    text-decoration: underline;
  }
  & a.cta {
    display: inline-block;
    font-family: var(--maru-mono);
    font-size: var(--maru-normal);
    text-align: bottom;
    padding-left: var(--box-padding);
    text-decoration: underline;
    height: var(--baseline-box);
  }
}

.logo {
  border-bottom: var(--border);
  line-height: var(--baseline-box);
  padding: 0 var(--box-padding);
}

.logoMobile {
  display: none;
}

.train {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 var(--box-padding);

  & img {
    width: 100%;
    height: auto;
    max-height: 90%;
  }
}

.bottom {
  display: flex;
  font-size: var(--maru-medium);
  font-family: var(--maru-mono);
  justify-content: space-between;
  border-left: var(--border);
  border-bottom: var(--border);

  & span {
    line-height: var(--baseline);
    display: block;
    font-weight: 600;
  }
}

.socialLinks,
.navBox {
  padding-top: var(--spacing-small);

  & h3.title,
  & ul li.title {
    font-weight: 900;
    font-size: var(--maru-medium);
    text-transform: uppercase;
    padding: var(--box-padding) 0;
    margin: 0;
  }

  & ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    & li.spacer {
      height: var(--spacing-normal);
    }
    & li.bold {
      font-weight: 900;
      font-size: var(--maru-medium);
      text-transform: uppercase;
    }
    & li {
      line-height: var(--baseline-half);
    }
  }
}

.socialLinks {
  flex: 1 0 20%;
  border-bottom: var(--border);
  padding-left: var(--box-padding);
  padding-right: var(--box-padding);
  border-right: var(--border);
  border-left: var(--border);
  text-transform: uppercase;
  line-height: 40px;

  & span {
    padding-left: var(--box-padding);
    display: inline;
    font-weight: 400;
  }
}

.navBox {
  border-bottom: var(--border);
  flex: 0 0 50%;
  padding-left: var(--box-padding);
  display: flex;
  & ul {
    padding-right: var(--box-padding);
    flex: 0 0 33.333%;
  }
}

.copyright {
  border-left: var(--border);
  border-bottom: var(--border);
}

.image {
  opacity: 0.75;
}

.copyright {
  font-family: var(--maru-mono);
  font-size: var(--maru-small);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: var(--baseline-box-2x);
  padding-left: var(--box-padding);
  padding-right: var(--box-padding);
}

@media only screen and (max-width: 1320px) {
  .box {
    & p {
      min-height: var(--baseline-box-2x);
    }
  }
}

@media only screen and (max-width: 1140px) {
  .train {
    height: 100%;
    padding-left: var(--box-padding);
    padding-right: var(--box-padding);
  }

  .box.trainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 100%;
    height: var(--baseline-3x);
  }

  .logo {
    border-bottom: none;
  }
  .box {
    flex: 0 0 50%;
  }

  .socialLinks {
    border-right: none;
    display: flex;
    & h3 {
      text-align: center;
    }
    & ul {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
    & li {
      padding: 0 var(--spacing-small);
    }

    & span {
      display: none;
    }
  }

  .navBox {
    flex: 0 0 100%;
    border-left: var(--border);
  }

  .box.bottomBox {
    & h3 {
      text-align: center;
    }
    flex: 0 0 100%;
    & p {
      text-align: center;
    }
  }
}

@media (--reduced) {
  .socialLinks,
  .navBox {
    /* display: none; */
  }
}

@media (--small) {
  .box h3 {
    border-bottom: none;
  }
  .box .action {
    padding-bottom: var(--spacing-normal);
  }
  .socialLinks {
    display: block;
  }
}

@media (--xsmall) {
  .navBox {
    flex-direction: column;
    & ul {
      text-align: center;
      flex: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & li.title {
        flex: 100%;
        line-height: 1;
      }
      & li {
        padding: var(--box-padding);
      }
    }
  }
}
