.root {
  flex-basis: calc(50% - var(--baseline) / 2);
  width: calc(50% - var(--baseline) / 2);

  display: flex;
  flex-direction: column;

  --color: var(--purple);
  --border: var(--border-purple);

  @media (--medium) {
    width: 100%;
    flex-basis: 100%;
  }
}

.title {
  color: var(--text-color);
}

.top {
  height: var(--baseline);
  display: flex;
  align-items: center;
}

.icon {
  font-family: var(--maru-emoji);
  font-size: var(--maru-emoji-normal);
  height: var(--baseline);
  flex: 0 0 var(--baseline);

  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
}

.top h2 {
  flex-grow: 1;
  padding-left: var(--spacing-normal);
  border-bottom: var(--border);
  height: var(--baseline);
  line-height: var(--baseline);
  font-size: var(--maru-large);
  font-family: var(--maru-mono);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  display: flex;
}

.left {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}

.description {
  margin: 0;
  font-family: var(--maru-mono);
  font-size: var(--maru-small);
  line-height: var(--baseline-2of5);
  padding: var(--spacing-normal);
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: var(--border);
  border-left: var(--border);
  background-color: var(--background-color);
  color: var(--text-color);
}

.left .meta {
  display: none;
}

.right {
  flex: 1 1 60%;
}

.img {
  border-bottom: var(--border);
  border-left: var(--border);
  width: 100%;
  height: var(--baseline-4x);
  object-fit: cover;
}

@media (--medium) {
  .left .meta {
    display: flex;
  }

  .right .meta {
    display: none;
  }

  .img {
    height: var(--baseline-5x);
  }
}

@media (--reduced) {
  .bottom {
    flex-direction: column-reverse;
  }

  .img {
    height: var(--baseline-7x);
  }

  .description {
    height: var(--baseline-3x);
    padding: var(--baseline-3of5) var(--spacing-normal) 0 var(--box-padding);
  }
}

@media (--small) {
  .left {
    flex-basis: var(--baseline-box-3x);
  }
  .right {
    flex-basis: var(--baseline-box-5x);
  }
}

@media (--xsmall) {
  .img {
    height: var(--baseline-box-8x);
  }
}
