.root {
  border-left: var(--border);
  border-bottom: var(--border);
  padding: 0 var(--box-padding);
  text-transform: uppercase;

  & h1 {
    color: var(--red);
    line-height: var(--baseline-box-2x);
    margin: 0;
    font-size: var(--font-xlarge);
  }
}

@media (--medium) {
  .root h1 {
    line-height: var(--baseline-box);
  }
}
