/*
  Since text can flow on multiple lines, the line-height needs to be `--baseline`,
  so we offset with a margin-top of -1px. See variables.css for explanation.
 */

.root {
  margin-top: -1px;
  border-left: var(--border);
  padding: 0 var(--box-padding);

  &.h1 {
    font-family: var(--maru-mega);
    font-size: var(--maru-mega-large);
    line-height: var(--maru-mega-large-line-height);
    text-transform: uppercase;
  }
  &.h2 {
    font-family: var(--maru-mega);
    font-size: var(--maru-mega-medium);
    line-height: var(--maru-mega-medium-line-height);
    text-transform: uppercase;
  }

  &.h3 {
    font-family: var(--maru-mega);
    font-size: var(--maru-mega-small);
    line-height: var(--maru-mega-small-line-height);
    text-transform: uppercase;
  }

  &.h4 {
    font-size: var(--maru-xlarge);
    font-weight: bold;
    line-height: var(--maru-xlarge-line-height);
  }

  &.h5 {
    font-size: var(--maru-large);
    font-weight: bold;
    line-height: var(--maru-large-line-height);
  }

  &.h6 {
    font-size: var(--maru-medium);
    font-weight: bold;
    line-height: var(--maru-medium-line-height);
  }
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
}

.root.borderBottom {
  border-bottom: var(--border);
}

.root.red {
  color: var(--red);

  &.fill {
    background-color: var(--red-light);
  }
}

.root.orange {
  color: var(--orange);

  &.fill {
    background-color: var(--orange-light);
  }
}

.root.purple {
  color: var(--purple);

  &.fill {
    background-color: var(--purple-light);
  }
}

.root.cyan {
  color: var(--cyan);

  &.fill {
    background-color: var(--cyan-light);
  }
}

.root.pink {
  color: var(--pink);

  &.fill {
    background-color: var(--pink-light);
  }
}
