/*
  Since text can flow on multiple lines, the line-height needs to be `--baseline`,
  so we offset with a margin-top of -1px. See variables.css for explanation.
 */

.root {
  margin-top: -1px;
  border-left: var(--border);
  border-bottom: var(--border);
  padding: 0 var(--box-padding);
  text-transform: uppercase;

  & h1 {
    color: var(--red);
    line-height: var(--baseline-3x);
    font-size: var(--font-huge);
  }
}

@media (--medium) {
  .root h1 {
    line-height: var(--baseline-2x);
  }
}
