.root {
  padding: 0 var(--box-padding);

  & h1 {
    color: var(--red);
    line-height: var(--baseline-box-3x);
    margin: 0;
    font-size: 140px;
  }
}

@media (--small) {
  .root h1 {
    font-size: 100px;
  }
}
