.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.heading {
  flex-grow: 1;
}

.character {
  flex-grow: 1;
  height: var(--baseline-3x);
  display: flex;
  justify-content: center;
  border-left: var(--border);
  border-bottom: var(--border);

  & svg {
    height: 100%;
  }
}

.character.left {
  justify-content: start;
}

.character.right {
  justify-content: end;
}

@media (--medium) {
  .character {
    height: var(--baseline-2x);
  }
}

@media (--small) {
  .character {
    display: none;
  }
}

.sep {
  display: none;
}

@media (--small) {
  .sep {
    display: block;
  }
}

.noItemsMessage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: var(--border);
  border-left: var(--border);
  height: var(--baseline-6x);
  background-color: white;

  & p {
    margin: 0 0 var(--baseline) 0;
  }

  & svg {
    position: absolute;
    height: var(--baseline-4x);
  }
}

.semiColon {
  bottom: 0;
  right: 20%;
}

.squareBrackets {
  top: 0;
  left: 20%;
}

.paginationNav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--baseline-3x);
  background: white;
  background-color: var(--background-color);
  color: var(--gray-dark);
  border-bottom: var(--border);
  border-left: var(--border);
  & span {
    display: inline-flex;
    justify-content: center;
    width: 100px;
    color: var(--text-color);
    height: var(--baseline);
    line-height: var(--baseline);
  }
}

/* Variants */

.noItemsMessage.cyan {
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}

.paginationNav.cyan {
  border-bottom: var(--border-cyan);
  border-left: var(--border-cyan);
}

.noItemsMessage.red {
  border-bottom: var(--border-red);
  border-left: var(--border-red);
}

.paginationNav.red {
  border-bottom: var(--border-red);
  border-left: var(--border-red);
}

@media (--medium) {
  svg.semiColon {
    right: 0;
    height: var(--baseline-3x);
  }

  svg.squareBrackets {
    left: 0;
    height: var(--baseline-3x);
  }
}

@media (--small) {
  .breadcrumbs {
    display: none;
  }

  .panel {
    border-bottom: 1px solid transparent;
  }

  .spacer {
    display: none;
  }

  svg.semiColon {
    height: var(--baseline-2x);
  }

  svg.squareBrackets {
    height: var(--baseline-2x);
  }
}
