.root {
  margin: 0;
  padding: 0;
}

.link {
  display: flex;
  margin-top: -2px;
  border-top: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
  color: var(--text-color);
}

.icon,
.description,
.url {
  height: var(--baseline);
  padding: 0 var(--spacing-normal);
  line-height: var(--baseline);
}

.icon {
  flex: 1 0 35px;
  max-width: 35px;
  white-space: nowrap;
  overflow: hidden;
}

.url {
  display: flex;
  align-items: center;
  flex: 1 0 350px;
  overflow: hidden;
  max-width: 350px;
  text-decoration: underline;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text-color);
  font-size: var(--maru-large);
}

.description {
  font-size: var(--maru-normal);
  display: flex;
  align-items: center;
  & p {
    margin: 0;
    line-height: var(--baseline-1of3);
  }
  & a {
    text-decoration: underline;
  }
}

/* Variants */

.red {
  & .link {
    border-color: var(--red);
    background-color: var(--red-light);
  }
}

.cyan {
  & .link {
    border-color: var(--cyan);
    background-color: var(--cyan-light);
  }
}

@media (--reduced) {
  .link {
    flex-wrap: wrap;
  }

  .url {
    text-overflow: initial;
    max-width: calc(100% - 35px);
  }

  .url a {
    white-space: normal;
  }

  .description {
    width: 100%;
  }

  .red .link,
  .cyan .link {
    background-color: var(--background-color);
  }
}

@media (--small) {
  .icon {
    display: none;
  }

  .url {
    max-width: 100%;
    padding-top: 10px;
    line-height: normal;
    height: var(--baseline);
  }

  .description {
    height: var(--baseline-2x);
    font-size: var(--maru-medium);
  }
}
