.root {
  font-family: var(--maru-mono);
  font-size: var(--maru-medium);
  text-transform: uppercase;
  z-index: 100;
}

.menuToggle {
  cursor: pointer;
  display: none;
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
  border-left: var(--border);
  border-bottom: var(--border);
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.item {
  position: relative;

  & a,
  & span {
    color: var(--gray-dark);
    border-left: var(--border);
    border-bottom: var(--border);
    display: block;
    text-decoration: none;
    padding: 0 var(--box-padding);
    line-height: var(--baseline-box);
  }

  & a:hover {
    background-color: var(--gray-light-hover);
  }
}

.subitem {
  & a {
    border-right: var(--border);
  }
}

.item,
.subitem {
  white-space: nowrap;
  background-color: var(--gray-light);
}

.submenu {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: var(--baseline);
  list-style: none;
  display: none;
  padding: 0;
}

.item.hasSubmenu:hover {
  & .submenu {
    display: block;
  }
}

@media (--hide-date) {
  .root,
  .item {
    flex-grow: 1;
  }
}

@media (--medium) {
  .root,
  .item {
    flex-grow: 0;
  }

  .root {
    position: absolute;
    right: 0;
  }

  .menuToggle {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.expanded {
    display: block;
    flex-wrap: nowrap;
    position: fixed;
    right: var(--baseline);
    top: var(--baseline);
    width: 100%;
    left: 0;
    top: var(--baseline);

    & > .item {
      display: block;
      border-top: none;
      margin-left: var(--container-spacing-horizontal);
      margin-right: var(--container-spacing-horizontal);
      border-right: var(--border);

      & a,
      & span {
        text-align: left;
        border-left: var(--border);
      }
    }
  }

  .submenu {
    display: block;
    position: initial;
  }

  .subitem {
    display: block;
    border-right: var(--border);
    border-left: none;
    margin-left: 0;
    border-right: none;

    & a,
    & span {
      padding-left: 25px;
      border-right: none;
    }
  }
}

@media (--small) {
  .menu.expanded {
    border-bottom: var(--border);
    & > .item {
      padding-left: 55px;
      margin-left: 0;
      margin-right: 0;
      border-right: none;
    }
  }

  .item:last-child {
    & a {
      border-bottom: none;
    }
  }
}

.modeToggle {
  display: "flex";
  align-items: "center";
  gap: 8px;
  height: "100%";
}
