.root {
  font-family: var(--maru-mono);
  font-size: var(--font-medium);
  text-transform: uppercase;
  color: var(--gray-dark);
}

.menuToggle {
  cursor: pointer;
  display: none;
  padding: 0 var(--box-padding);
  line-height: var(--baseline-box);
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.item {
  position: relative;

  & a,
  & span {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0 var(--box-padding);
    color: var(--gray-dark);
    line-height: var(--baseline-box);
  }

  & a:hover {
    background-color: var(--gray-light-hover);
  }
}

.item,
.subitem {
  white-space: nowrap;
  background-color: var(--gray-light);
}

.submenu {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: var(--baseline);
  list-style: none;
  display: none;
  padding: 0;
}

.item.hasSubmenu:hover {
  & .submenu {
    display: block;
  }
}

@media (--hide-date) {
  .root,
  .item {
    flex-grow: 1;
  }
}

@media (--large) {
  /* .menuToggle {
    display: block;
    position: absolute;
  }

  .menu.expanded {
    display: block;
    flex-wrap: nowrap;
    position: absolute;
    right: var(--baseline);
    top: var(--baseline);

    background-color: var(--gray-light);

    & > .item {
      display: block;
      border: var(--border);
    }

    & > .item:first-child {
      margin-left: 0;
    }

    & > .subitem {
      display: block;
    }
  }

  .subitem {
    margin-left: -25px;
  }

  .subitem:last-child {
    border-bottom: var(--border);
  }

  .submenu {
    display: block;
    position: initial;
  }

  .hasSubmenu {
    padding-right: 0;
  } */
}

@media (--medium) {
  .menu {
    display: none;
  }

  .menu.expanded {
    width: 100%;
    left: 0;
    top: var(--baseline);
    border-bottom: var(--border);

    & > .item {
      display: block;
      border-top: none;
    }
  }

  .subitem {
    display: block;
    border-right: var(--border);
    border-left: none;
    margin-left: -25px;
  }
}
