.root {
  display: flex;

  height: var(--baseline);
  border-left: var(--border);
  background: white;
}

.link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--box-padding);
}

.text {
  font-size: var(--maru-small);
}

@media (--small) {
  .hideRow {
    display: none;
  }
}

/* variants */

.red {
  border-bottom: var(--border-red);
}

.cyan {
  border-bottom: var(--border-cyan);
}
