.root {
  display: flex;

  height: var(--baseline);
  border-left: var(--border);
  border-bottom: 1px solid var(--gray-light);
  background: white;
}

.link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--box-padding);
  text-decoration: underline;

  & img {
    padding-left: 13px;
  }
}

.text {
  font-size: var(--maru-small);
}
