.root {
  border-left: var(--border);
  border-bottom: var(--border);
  color: var(--gray-dark);
  display: flex;
  height: var(--baseline-3x);
  justify-content: space-between;
  overflow: hidden;
}

.description {
  padding: var(--baseline-3of5) var(--spacing-normal) 0 var(--box-padding);
  flex-basis: 700px;
  color: var(--text-color);

  & p {
    margin: 0;
    line-height: var(--baseline-1of2);
  }
}

.cta {
  display: flex;
  border-top: var(--border);
  margin-top: var(--baseline-box);
  margin-bottom: var(--baseline-box);
}

.ctaIcon {
  border-bottom: var(--border);
  border-left: var(--border);
  height: var(--baseline);
  width: var(--baseline);
  background-color: var(--gray-light);
}

.buttonPanel {
  overflow: hidden;
}

/* Variants */

.purple .cta {
  border-color: var(--purple);
}

.purple .ctaIcon {
  border-bottom: var(--border-purple);
  border-left: var(--border-purple);
  background-color: var(--purple-light);
}

.orange .cta {
  border-color: var(--orange);
}

.orange .ctaIcon {
  border-bottom: var(--border-orange);
  border-left: var(--border-orange);
  background-color: var(--orange-light);
}

/* Bottom line colors */

.bbred {
  border-bottom-color: var(--red);
}

.bbcyan {
  border-bottom-color: var(--cyan);
}

@media (--reduced) {
  .root {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: var(--baseline-5x);
  }

  .cta {
    margin: 0 0 var(--baseline-box) 0;
    justify-content: end;
  }

  .buttonPanel {
    width: fit-content;
  }
}

@media (--small) {
  .root {
    height: var(--baseline-7x);
  }
}
