.root {
  font-size: var(--font-reduced);
  border-left: var(--border);
  border-bottom: var(--border);
  color: var(--gray-mid);
  display: flex;
  height: var(--baseline-3x);
  justify-content: space-between;
}

.description {
  padding: var(--baseline-2of3) var(--spacing-normal) 0 var(--box-padding);
  flex-basis: 600px;

  & p {
    margin: 0;
    line-height: var(--baseline-1of2);
  }
}

.cta {
  border-top: var(--border);
  margin-top: var(--baseline-box);
  margin-bottom: var(--baseline-box);
  background-color: var(--gray-light);
}

/* Variants */

.purple .cta {
  border-color: var(--purple);
}

/* Bottom line colors */

.bbred {
  border-bottom-color: var(--red);
}

@media (--reduced) {
  .root {
    flex-direction: column;
    justify-content: space-between;
    height: var(--baseline-5x);
  }

  .cta {
    margin: 0 0 var(--baseline-box) 0;
  }

  .buttonPanel {
    border-left: none;
  }
}
