.root {
  padding: 0 var(--box-padding);
  border-left: var(--border);
}

.form label {
  display: block;
  margin-bottom: var(--spacing-normal);
  font-size: var(--maru-xlarge);
  color: var(--text-color);

  & span {
    color: var(--gray-mid);
    display: block;
    margin: var(--spacing-xsmall) 0;
    max-width: 500px;
    font-size: var(--maru-small);
    line-height: 17px;

    &.radio-label {
      /* display: inline; */
      margin-right: var(--spacing-small);
      color: var(--text-color);
      font-size: var(--maru-medium);
      max-width: 500px;
    }
  }
}

.form input[type="text"],
.form input[type="file"],
.form input[type="email"],
.form select {
  display: block;
  margin-top: var(--spacing-xsmall);
  font-size: var(--maru-medium);
  min-width: 500px;
  border: 1px solid var(--text-color);
  padding: var(--spacing-small);
  color: var(--text-color);
}

.form input[type="radio"] {
  display: inline;
  margin-right: var(--spacing-small);
  -webkit-appearance: radio;
}

.error,
.submitted {
  max-width: 500px;
  background-color: var(--red-light);
  padding: 10px 20px;
  margin-bottom: var(--spacing-normal);
  color: var(--red);
}

.submitted {
  background-color: var(--purple-light);
  color: var(--purple);

  & a {
    text-decoration: underline;
  }
}

.submitBtn:hover:not([disabled]) {
  cursor: pointer;
}
