.root {
  display: flex;
  flex-direction: column;
  padding: 0 var(--box-padding);
  border-left: var(--border);
  border-bottom: var(--border);
  font-family: var(--maru-mono);
  color: var(--text-color);
}

.summary {
  display: flex;
  align-items: center;
  height: var(--baseline);
  cursor: pointer;

  & h3 {
    font-size: var(--font-reduced);
    padding: 0 calc(var(--box-padding) / 2) 0 var(--box-padding);
    font-weight: 400;
    color: var(--text-color);
  }
}

.icon {
  flex-shrink: 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  width: var(--baseline-3of4);
}

.rotateIcon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.permalink {
  color: var(--pink);
  font-size: var(--maru-xlarge);
}

.answer p {
  margin: var(--box-padding) 0;
}

.list {
  list-style: none;
  padding-left: calc(2 * var(--box-padding));
  & li {
    position: relative;
    & ::before {
      position: absolute;
      left: calc(-1.5 * var(--box-padding));
      content: "\2022";
      color: var(--text-color);
      display: inline-block;
      width: var(--box-padding);
    }
  }
}

.picture {
}

.image {
  max-width: 800px;
}

.video {
  margin: 0;
  max-width: 800px;
}

.videoContainer {
  padding-bottom: var(--baseline-box-9x);
  margin: var(--box-padding) 0;
}

.open {
  height: auto;
  background-color: var(--background-color);
  & .summary h3 {
    font-weight: bolder;
  }
}

/* variants */
.pink {
  background-color: var(--pink-tint);
  border-bottom-color: var(--pink);
}

.pink.open {
  background-color: var(--background-color);
}

.pink .answer p a {
  color: var(--pink);
}

@media (--small) {
  .icon {
    width: 28px;
  }

  .summary {
    height: var(--baseline-2x);
    & h3 {
      font-size: var(--font-normal);
    }
  }

  .answer {
    font-size: var(--font-normal);
  }

  .image {
    width: 100%;
  }
}
