.root {
  color: var(--gray-dark);
  display: flex;
  flex: 1;
}

.left {
  flex: 0 0 var(--baseline-box);
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
}

.icon,
.spacer,
.title,
.item,
.seeMore {
  border-left: var(--border);
  border-bottom: var(--border);
}

.icon {
  line-height: var(--baseline-box);
  display: flex;
  justify-content: center;
  font-size: var(--maru-emoji-normal);
}

.spacer {
  flex: 1;
}

.title {
  line-height: var(--baseline-box);
  padding-left: var(--box-padding);
  color: var(--text-color);

  & h2 {
    margin: 0;
    font-size: var(--maru-large);
    font-family: var(--maru);
  }
}

.selectContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - var(--baseline));
}

.select {
  border-left: var(--border);
  border-bottom: var(--border);
}

.select :global(.rs__control) {
  border: none;
  min-height: var(--baseline-box);
}

.select :global(.rs__control--is-focused),
.select :global(.rs__control--menu-is-open) {
  border: none !important;
  border-color: transparent;
  min-height: var(--baseline-box);
  outline: none;
  box-shadow: none !important;
}

.select :global(.rs__menu) {
  border-radius: 0;
  color: var(--text-color) !important;
  background-color: var(--background-color);
}

.select :global(.rs__menu-list) {
  padding-top: 0;
}

.select :global(.rs__placeholder) {
  color: var(--text-color);
  filter: opacity(60%);
}

.select :global(.rs__single-value) {
  color: var(--text-color);
}
.select :global(.rs__input) {
  color: var(--text-color);
}
.select :global(.rs__input-container) {
  color: var(--text-color);
}

.itemSpacer {
  flex: 1 0 0;
  margin-top: -1px;
  border-left: var(--border);
  border-bottom: var(--border);
}

/* Variants */
.red {
  &.root {
  }

  & .icon {
    color: var(--red);
  }

  & .select {
    color: var(--text-color);
    background-color: var(--red-light);
  }
  & .select :global(.rs__option--is-focused),
  & .select :global(.rs__control) {
    background-color: var(--red-light);
    color: var(--text-color);
  }
  & .select :global(.rs__option--is-selected) {
    background-color: var(--red);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore,
  & .select,
  & .itemSpacer {
    border-color: var(--red);
  }
}

.cyan {
  &.root {
  }

  & .icon {
    color: var(--cyan);
  }

  & .select {
    color: var(--text-color);
    background-color: var(--cyan-light);
  }

  & .select :global(.rs__option--is-focused),
  & .select :global(.rs__control) {
    background-color: var(--cyan-light);
    color: var(--text-color);
  }

  & .select :global(.rs__menu-list) {
    padding-top: 0;
  }

  & .select :global(.rs__option--is-selected) {
    background-color: var(--cyan);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore,
  & .itemSpacer {
    border-color: var(--cyan);
  }
}

.purple {
  &.root {
  }

  & .icon {
    color: var(--purple);
  }

  & .select {
    color: var(--text-color);
    background-color: var(--purple-light);
  }

  & .select :global(.rs__option--is-focused),
  & .select :global(.rs__control) {
    background-color: var(--purple-light);
    color: var(--text-color);
  }

  & .select :global(.rs__menu-list) {
    padding-top: 0;
  }

  & .select :global(.rs__option--is-selected) {
    background-color: var(--purple);
  }

  & .icon,
  & .spacer,
  & .title,
  & .item,
  & .seeMore,
  & .itemSpacer {
    border-color: var(--purple);
  }
}
