.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  height: var(--baseline-box);
  padding: 0 var(--box-padding);
  cursor: pointer;
  line-height: var(--baseline);

  & svg {
    stroke: var(--gray-dark);
  }

  & span {
    padding-left: 10px;
    text-transform: none;
    color: var(--gray-dark);
  }
}

span.linkIcon {
  font-family: var(--maru-emoji);
  font-size: var(--maru-emoji-normal);
  padding: 0;
}

.root:hover {
  & span {
    font-weight: 600;
  }
  & svg path {
    stroke-width: 2px;
  }
}

.copiedNotification {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 var(--box-padding);
  top: var(--baseline-1of4);
  left: calc(-1 * (205px + 2 * var(--box-padding)));
  border-radius: 5px;
  border: var(--border);
  width: calc((200px + 2 * var(--box-padding)));
  line-height: var(--baseline-1of2);
  cursor: auto;
  background-color: var(--gray-light);
}

/* Variants */

.red {
  & svg {
    & path {
      stroke: var(--red);
    }
    & path + path {
      fill: var(--red);
    }
  }

  & span {
    color: var(--red);
  }

  & .copiedNotification {
    border: var(--border-red);
    background-color: var(--red-light);
    color: var(--red);
  }
}

.cyan {
  & svg {
    & path {
      stroke: var(--cyan);
    }
    & path + path {
      fill: var(--cyan);
    }
  }

  & span {
    color: var(--cyan);
  }

  & .copiedNotification {
    border: var(--border-cyan);
    background-color: var(--cyan-light);
    color: var(--cyan);
  }
}
