.root {
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: var(--border);
  border-left: var(--border);
  & > ul {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--border);
  border-radius: 0px;
  height: var(--baseline-box);
  padding: 0 var(--box-padding);
  cursor: pointer;
  font-family: var(--maru-mono);
  text-transform: none;
  /* color: var(--gray-dark); */
  color: var(--text-color);
  user-select: none;
}

.tab:hover {
  font-weight: 600;
}

.active {
  cursor: default;
  font-weight: 600;
}

.component {
  position: relative;
  display: none;
}

.componentTab {
  width: 0;
  overflow: hidden;
  max-height: 0;
}

.activeComponent {
  display: block;
}

/* Variants */

.red {
  & .tabs {
    border-bottom: var(--border-red);
    border-left: var(--border-red);
  }

  & .tab {
    border-right: var(--border-red);
    color: var(--red);
  }

  & .tab:hover,
  & .active {
    background-color: var(--red-light);
    color: var(--text-color);
  }
}

.cyan {
  & .tabs {
    border-bottom: var(--border-cyan);
    border-left: var(--border-cyan);
  }

  & .tab {
    border-right: var(--border-cyan);
    color: var(--cyan);
  }

  & .tab:hover,
  & .active {
    background-color: var(--cyan-light);
    /* color: var(--gray-dark); */
    color: var(--text-color);
  }
}

@media (--reduced) {
  .tabs,
  .red .tabs,
  .cyan .tabs {
    border: none;
  }

  .tabs .tab {
    border: 0 0 var(--border) var(--border);
    height: var(--baseline);
  }

  .red .tabs .tab {
    border-bottom: var(--border-red);
    border-left: var(--border-red);
  }

  .cyan .tabs .tab {
    border-bottom: var(--border-cyan);
    border-left: var(--border-cyan);
  }

  .tabs ul {
    flex-direction: column;
    width: 100%;
    & li {
      width: 100%;
      & .tab {
        width: 100%;
        justify-content: start;
      }
    }
  }

  .component {
    display: none;
  }

  .next {
    order: 2;
  }

  .componentTab {
    width: 100%;
    order: 1;
    max-height: 0;
  }

  .componentTab.activeComponentTab {
    max-height: 1000vh;
    transition: max-height 3s ease-in-out;
  }

  .share {
    display: none;
    background-color: var(--background-color);
  }
}

@media (--small) {
  .tab {
    padding: 0 calc(var(--box-padding) / 2);
    font-size: var(--maru-small);
  }
}
