.root {
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: var(--border);
  border-bottom: var(--border);

  & > ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.tab {
  display: flex;
  align-items: center;
  border-radius: 0px;
  height: var(--baseline-box);
  padding: 0 var(--box-padding);
  color: var(--gray-mid);
  text-transform: none;
  font-family: var(--maru-mono);
  cursor: pointer;
  border-right: var(--border);
}

.tab:hover,
.active {
  font-weight: 900;
}

.share {
  cursor: pointer;
  padding: 0 var(--box-padding);
  height: var(--baseline-box);
  line-height: var(--baseline);

  & svg {
    stroke: var(--gray-mid);
  }

  & span {
    color: var(--gray-mid);
    padding-left: 10px;
  }
}

.share:hover {
  font-weight: 900;
}

.component {
  position: relative;
  display: none;
}

.activeComponent {
  display: block;
}

/* Variant */

.red {
  & .tabs {
    border-left: var(--border-red);
    border-bottom: var(--border-red);
  }

  & .tab {
    color: var(--red);
    border-right: var(--border-red);
  }

  & .tab:hover,
  & .active {
    background-color: var(--red-light);
  }

  & .share {
    & svg {
      & path {
        stroke: var(--red);
      }
      & path + path {
        fill: var(--red);
      }
    }

    & span {
      color: var(--red);
    }
  }
}

@media (--small) {
  .tabs,
  .red .tabs {
    border: none;
  }

  .tab {
    height: var(--baseline);
    border-bottom: var(--border);
  }

  .share {
    height: var(--baseline);
  }

  .red .tab {
    border-bottom: var(--border-red);
  }
}
