.root {
}

.tagHeading,
.tag {
  margin: 0;
  margin-right: var(--spacing-small);
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.tagHeading {
  font-weight: 600;
}

.tag {
  font-family: var(--maru-mono);
  display: inline-block;
  color: var(--text-color);
}

.singleLine {
  & .tagHeading {
    display: inline-block;
    text-align: center;
  }
}

.tags.singleLine {
  margin-top: 0;
}

@media (--reduced) {
  .tags {
    display: none;
  }
}

.showButton {
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  color: inherit;
  padding: 0;
}
