.root {
  font-family: var(--maru-mono);
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--gray-light);
}

.logo {
  line-height: var(--baseline-box);
  padding: 0 var(--box-padding);
}

.clock {
  line-height: var(--baseline-box);
  padding: 0 var(--spacing-normal);
}

.date {
  line-height: var(--baseline-box);
  flex: 1;
  padding: 0 var(--box-padding);
  text-transform: uppercase;
  color: var(--gray-dark);
}

@media (--hide-clock) {
  .clock {
    display: none;
  }
}

@media (--hide-date) {
  .date {
    display: none;
  }
}

@media (--medium) {
  .logo {
    border: none;
  }
}
