.root {
  font-family: var(--maru-mono);
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

.logo,
.clock,
.date {
  border-left: var(--border);
  border-bottom: var(--border);
  line-height: var(--baseline-box);
}

.logo {
  padding: 0 var(--spacing-normal);
}

.logoSvg {
  height: 32px;
}

.clock {
  font-family: var(--maru-emoji);
  font-size: var(--maru-emoji-normal);
  padding: 0 var(--spacing-normal);
}

.date {
  flex: 1;
  padding: 0 var(--box-padding);
  text-transform: uppercase;
}

.shortDate {
  display: none;
}

@media (--hide-clock) {
  .clock {
    display: none;
  }
}

@media (--hide-date) {
  .date {
    display: none;
  }
}

@media (--medium) {
  .root {
    flex-wrap: wrap;
  }

  .logo {
    flex-basis: 100%;
  }

  .clock,
  .date {
    display: block;
  }

  .date {
    font-size: var(--maru-normal);
  }

  .outer {
    height: var(--baseline-2x);
  }

  .root {
    position: fixed;
    z-index: 100;
    width: calc(100% - 2 * var(--container-spacing-horizontal));
    border-right: var(--border);
  }
}

@media (--small) {
  .logoSvg {
    height: 28px;
  }
}

@media (--xsmall) {
  .shortDate {
    display: initial;
  }

  .longDate {
    display: none;
  }
}
