.root {
  display: flex;
  color: var(--gray-mid);
  background-color: white;
}

.left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.right {
  flex-basis: 60%;
}

.text,
.icon,
.trackType,
.numVideos,
.image,
.tagHeading,
.tag {
  border-left: var(--border);
  border-bottom: var(--border);
}

.text {
  padding: 0 var(--box-padding);
  flex: 1;

  & h3 {
    margin-top: var(--baseline-1of2);
    line-height: var(--baseline-2of3);
    font-size: var(--font-large);
  }

  & p {
    margin: var(--baseline-1of3) 0 0 0;
    line-height: var(--baseline-1of2);
    font-family: var(--maru-mono);
    font-size: var(--font-small);
  }
}

.details {
  font-size: var(--font-reduced);
  display: flex;
  line-height: var(--baseline-box);
}

.icon {
  flex-basis: var(--baseline-box);
  text-align: center;
}

.trackType,
.numVideos {
  padding: 0 var(--spacing-normal);
}

.trackType {
  text-transform: uppercase;
  flex: 1;
}

.image {
  height: var(--baseline-5x);
}

/**
  Tags
**/

.tags {
  line-height: var(--baseline-box);
  display: flex;
}

.tagHeading,
.tag {
  font-size: var(--font-medium);
  text-align: center;
  padding: 0 var(--spacing-normal);
  /* Show dots if text doesnt fit */
  /* min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.tagHeading {
  flex-basis: 30%;
}

.tag {
  font-family: var(--maru-mono);
  flex-grow: 1;
}
