.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--baseline-box));
  margin-right: calc(-1 * var(--baseline));
  @media (--medium) {
    margin-right: 0;
  }
}

.listSpacer.purple {
  flex-basis: calc(50% - var(--baseline-box));
  width: calc(50% - var(--baseline-box));
  --color: var(--gray-dark);
  --icon-color: var(--gray-dark);
  --border: var(--border-purple);
  --background-color: var(--purple-light);
  margin-top: var(--baseline-box);
  border-top: var(--border);
  border-bottom: var(--border);
  @media (--medium) {
    display: none;
  }
}

.root {
  flex-basis: 50%;
  width: 50%;

  display: flex;

  @media (--medium) {
    width: 100%;
    flex-basis: 100%;
  }
}

.root:nth-child(odd):last-child {
  width: 100%;
  flex-basis: 100%;
  & .gap {
    border: none !important;
  }
}

/* variants */
.root.purple {
  --icon-color: var(--purple);
  --border: var(--border-purple);
  --background-color: var(--purple-light);
}

.root.red {
  --icon-color: var(--red);
  --border: var(--border-red);
  --background-color: var(--red-light);
}

.root.orange {
  --icon-color: var(--orange);
  --border: var(--border-orange);
  --background-color: var(--orange-light);
}

.root.cyan {
  --icon-color: var(--cyan);
  --border: var(--border-cyan);
  --background-color: var(--cyan-light);
}

.block {
  width: calc(100% - var(--baseline-box));
}

@media (--medium) {
  .block {
    width: 100%;
  }
}
/* GAP */
.gap {
  flex: 0 0 var(--baseline-box);

  @media (--medium) {
    display: none;
  }
}

.root:nth-child(odd) .gap {
  margin-top: var(--baseline-box);
  border-top: var(--border);
}

.root:nth-child(even) .gap {
  border-left: var(--border);
  margin-left: -1px;
}

.top,
.meta {
  border-top: var(--border);
  color: var(--text-color);
}

.right,
.root:nth-child(odd),
.root:nth-child(even) .top,
.root:nth-child(even) .bottom {
  border-left: var(--border);
}

@media (--medium) {
  .root {
    border-left: var(--border);
  }
  .root:nth-child(n) .top,
  .root:nth-child(n) .bottom {
    border-left: none;
  }
}

.top,
.left,
.right,
.root:nth-child(odd) .gap {
  border-bottom: var(--border);
}

.top,
.bottom,
.icon {
  border-right: var(--border);
}

@media (--medium) {
  .top,
  .bottom {
    border-right: none;
  }
}

.top {
  margin-top: var(--baseline-box);
  height: calc(var(--baseline) + 1px);
  display: flex;
  align-items: center;
}

.icon {
  font-family: var(--maru-emoji);
  font-size: var(--maru-emoji-normal);
  height: var(--baseline);
  flex: 0 0 var(--baseline);

  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.top h3 {
  margin-left: var(--spacing-normal);
  font-size: var(--maru-large);
  font-family: var(--maru-mono);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  display: flex;
}

.left {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.left .meta {
  display: none;
}

.description {
  margin: 0;
  font-family: var(--maru-mono);
  font-size: var(--maru-small);
  line-height: var(--baseline-2of5);
  padding: var(--spacing-normal);
  flex-grow: 1;
  max-height: var(--baseline-box-5x);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
  background-color: var(--background-color);
}

.right {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.meta {
  margin-top: 0;
  height: var(--baseline);
  flex: 0 0 var(--baseline);
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100%;
  padding: 0 var(--spacing-xsmall) 0 var(--spacing-normal);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 100%;
  height: var(--baseline-box-4x);
  object-fit: cover;
}

@media (--medium) {
  .play {
    width: 28px;
    height: 28px;
  }

  .left {
    flex: 1.5 1;
  }

  .img {
    height: var(--baseline-box-5x);
  }

  .left .meta {
    display: flex;
  }

  .right .meta {
    display: none;
  }
}

@media (--reduced) {
  .bottom {
    flex-direction: column-reverse;
  }

  .description {
    height: var(--baseline-4x);
    padding: var(--baseline-3of5) var(--spacing-normal) 0 var(--box-padding);
  }

  .img {
    height: var(--baseline-box-7x);
  }
}

@media (--xsmall) {
  .img {
    height: var(--baseline-box-8x);
  }
}
