.root {
}

.aboutTabs {
}

.description {
  display: flex;
  flex-direction: column;
  height: var(--baseline-3x);
  border-left: var(--border);
  border-bottom: var(--border);
  font-size: var(--maru-medium);
  font-family: var(--maru-mono);
  color: var(--text-color);
  & p {
    width: 75%;
    padding: 0 var(--box-padding);
    margin: var(--baseline-3of5) 0 calc(var(--baseline-2of5) - 1px) 0;
    line-height: var(--baseline-1of2);
  }
}

.descriptionExpanded {
  height: var(--baseline-5x);
}

/* Variant */
.red {
  & .description {
    border-color: var(--red);
  }
}

.cyan {
  & .description {
    border-color: var(--cyan);
  }
}

@media (--reduced) {
  .description {
    height: var(--baseline-4x);
  }
  .descriptionExpanded {
    height: var(--baseline-6x);
  }
  .description p {
    width: 100%;
  }
}

@media (--xsmall) {
  .description {
    height: var(--baseline-5x);
  }
  .descriptionExpanded {
    height: var(--baseline-7x);
  }
}
