.root {
}

/* Heading */

.header {
  display: flex;
}

.title {
  flex: 55%;
  display: flex;
  align-items: center;
  height: var(--baseline-2x);
  border-bottom: var(--border-cyan);
  border-left: var(--border);
  background: white;
}

.title h1 {
  padding: 0 var(--box-padding);
  font-family: var(--maru);
  font-size: 24px;
  line-height: var(--baseline-2of3);
  color: var(--cyan);
  font-weight: 600;
}

.details {
  flex: 45%;
  border-left: var(--border-cyan);
  border-bottom: var(--border-cyan);
  height: var(--baseline-2x);
  font-size: 30px;
  padding: 0 var(--box-padding);
  color: var(--cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags {
  font-size: var(--maru-medium);
  line-height: var(--baseline-1of2);
}

/* Video section */

.videoPlayer {
  display: flex;
  justify-content: center;
  position: relative;
}

.spacer {
  flex-basis: 15%;
  border-left: var(--border);
  border-bottom: var(--border-cyan);
}

/* Video section */

.videoContainer {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.share {
  display: none;
}

.video {
  border-left: var(--border);
  border-bottom: var(--border-cyan);
}

.videoWrapper {
  padding-bottom: var(--baseline-box-11x);
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Timeline section */

.timelineContainer {
  flex-basis: 30%;
  display: flex;
}

.timelinesToggle {
  display: none;
}

.timelinesContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  border-left: var(--border-cyan);
  border-bottom: var(--border-cyan);

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--baseline-box);
    padding: 0 var(--spacing-normal);
    font-family: var(--maru-mono);
    font-size: var(--maru-medium);
    color: var(--cyan);
    background-color: white;
    text-transform: uppercase;
  }

  & button:hover {
    background-color: var(--cyan-light);
    color: var(--gray-dark);
  }
}

.clickable button {
  cursor: pointer;
}

.selected button {
  background-color: var(--cyan-light);
  color: var(--gray-dark);
}

/* Timeline section */

.timeline {
  color: var(--cyan);
  font-size: var(--maru-small);
  font-family: var(--maru-mono);

  background-color: white;
}

.partTimeline.hide,
.timestampsTimeline.hide {
  display: none;
}

@media (--medium) {
  .title h1 {
    font-size: 20px;
  }

  .videoContainer {
    flex-basis: 100%;
  }

  .timelineContainer {
    flex-basis: 40%;
  }

  .spacer {
    display: none;
  }
}

@media (--reduced) {
  .videoPlayer {
    flex-wrap: wrap;
  }

  .videoContainer {
    flex: 1 0 auto;
  }

  .details {
    flex: initial;
    padding: 0;
  }

  .tags {
    display: none;
  }

  .share {
    display: block;
    border-bottom: var(--border-cyan);
    background: white;
  }

  .share.onlyShare {
    border-bottom: none;
    height: 100%;
  }

  .videoWrapper {
    padding-bottom: var(--baseline-box-8x);
  }

  .timelineContainer {
    position: absolute;
    right: 0;
  }

  .timelineContainer.unCollapsed {
    position: absolute;
    width: 100%;
  }

  .timelinesContent {
    display: none;
  }

  .unCollapsed .timelinesContent {
    display: block;
    position: fixed;
    left: 0;
    top: var(--baseline);
    height: calc(100vh - var(--baseline));
    width: 100vw;
    padding: 0 var(--container-spacing-horizontal);
    z-index: 100;
    background: white;
  }

  .timelinesToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: var(--baseline);
    padding: 0 var(--box-padding);
    background: var(--cyan-light);
    cursor: pointer;
    font-size: var(--maru-small);
    color: var(--gray-dark);
  }

  .timelinesToggle:hover {
    font-weight: 600;

    & .arrow:before {
      border-left: 2.5px solid var(--cyan);
      border-bottom: 2.5px solid var(--cyan);
    }
  }

  .arrow {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
  }

  .back {
    display: none;
  }

  .arrow:before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    margin-left: -5px;
    border-left: 1.5px solid var(--cyan);
    border-bottom: 1.5px solid var(--cyan);
  }

  .unCollapsed .timelinesToggle {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 var(--container-spacing-horizontal);
    width: calc(100% - 2 * var(--container-spacing-horizontal));
    border-right: var(--border-cyan);
    border-left: var(--border-cyan);
    border-bottom: var(--border-cyan);
    z-index: 100;
    font-size: var(--maru-normal);
  }

  .unCollapsed .timelinesToggle .back {
    display: inline;
  }

  .unCollapsed .timelinesToggle .arrow {
    margin: 0 0 0 var(--box-padding);
  }

  .unCollapsed .arrow:before {
    transform: rotate(135deg);
    top: calc(50% - 3px);
  }

  .unCollapsed .progress {
    display: none;
  }

  .unCollapsed .tabs,
  .unCollapsed .timeline {
    border-right: var(--border-cyan);
  }

  .tab button {
    height: var(--baseline-box);
    text-align: center;
  }
}

@media (--small) {
  .videoWrapper {
    padding-bottom: var(--baseline-box-8x);
  }

  .title h1 {
    font-size: 18px;
  }
}

@media (--xsmall) {
  .videoWrapper {
    padding-bottom: var(--baseline-box-6x);
  }
}
